<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AnagrafePrestazioniBinding" />
                <binding name="anp2018Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.perlapa.gov.it/AnagrafePrestazioni/1"
                binding="basicHttpBinding" bindingConfiguration="AnagrafePrestazioniBinding"
                contract="service.AnagrafePrestazioni" name="AnagrafePrestazioniInterfaceEndpoint" />
            <endpoint address="http://servizi.perlapa.gov.it/wsanp2018/ws/anp2018.asmx"
                binding="basicHttpBinding" bindingConfiguration="anp2018Soap"
                contract="ServicePerla.anp2018Soap" name="anp2018Soap" />
        </client>
    </system.serviceModel>
</configuration>