<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="webpayment_prenotazioni_default.Properties.Settings.Rettorato_OkConnectionString"
            connectionString="Data Source=10.10.10.122,1434;Initial Catalog=Rettorato_Ok;User ID=assistenza;Password=123***********"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>