<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="meta_registryreference.Properties.Settings.Rettorato_OkConnectionString"
            connectionString="Data Source=win12-DATABASE,1434;Initial Catalog=Rettorato_Ok;Persist Security Info=True;User ID=amm;Password=**********"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>