**/node_modules/**
/.idea
bower_components
.idea
doc
**/bin/**
jsDataSet.sln
jsDataSet.njsproj
.vs/jsDataSet/v14/.suo
.vs/config/applicationhost.config
.ntvs_analysis.dat
obj/Debug/jsDataSet.njsproj.FileListAbsolute.txt
obj/Debug/jsDataSet.njsprojResolveAssemblyReference.cache
.bin
app_Coan_UniCampania
app_dev
app_EasyWeb
app_segreterie
config
credBack
demo_grafica
scripts
dist
VisualMDLW
webpack
componentsEasy

