<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="meta_docenti.Properties.Settings.DATABASEConnectionString"
            connectionString="Data Source=DBSERVER;Initial Catalog=DATABASE;Persist Security Info=True;User ID=assistenza;Password=PASSWORD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>