<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <system.diagnostics>
        <switches>
            <add name="Remote.Disable" value="1" />
        </switches>
    </system.diagnostics>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaInviaCarrelloPosizioniBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaInviaCarrelloPosizioniBinding1" />
                <binding name="TicketWebSoapSoapBinding" />
                <binding name="AuthPASoapSoapBinding" />
                <binding name="IUVOnlineServiceScritturaBinding_v1" />
                <binding name="IUVOnlineServiceScritturaBinding_v11" />
                <binding name="PagamentiTelematiciGPAppSOAP" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WEBSDataProviderInterfaceSoapBinding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WEBSDataProviderInterfaceSoapBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://solutionpa-coll.intesasanpaolo.com:80/IntermediarioPAWebService/WEBSDataProviderInterface/IntermediarioPAService"
                binding="customBinding" bindingConfiguration="WEBSDataProviderInterfaceSoapBinding1"
                contract="IService2" name="WEBS_DataProviderInterfacePort" />
            <endpoint address="https://tst.pasemplice.eu/connettorenodo/services/soap/paInviaCarrelloPosizioni"
                binding="basicHttpBinding" bindingConfiguration="PaInviaCarrelloPosizioniBinding"
                contract="unicredit_b.PaInviaCarrelloPosizioni" name="PaInviaCarrelloPosizioniPort" />
            <endpoint address="http://service.pmpay.it/ticketWeb/services/TicketWebSoap"
                binding="basicHttpBinding" bindingConfiguration="TicketWebSoapSoapBinding"
                contract="TicketWebSoap.TicketWebSoap" name="TicketWebSoap" />
            <endpoint address="http://service.pmpay.it/authPA/services/AuthPASoap"
                binding="basicHttpBinding" bindingConfiguration="AuthPASoapSoapBinding"
                contract="AuthPASoap.AuthPASoap" name="AuthPASoap" />
            <endpoint address="http://localhost/IUVOnlineService_v1/scrittura/IUVOnlineService.ws"
                binding="basicHttpBinding" bindingConfiguration="IUVOnlineServiceScritturaBinding_v11"
                contract="bsondrio1_1.IUVOnlineServiceScritturaPortType_v1"
                name="IUVOnlineServiceScritturaPort_v1" />
            <endpoint address="http://10.254.8.56:8081/govpay/PagamentiTelematiciGPAppService"
                binding="basicHttpBinding" bindingConfiguration="PagamentiTelematiciGPAppSOAP"
                contract="govPayReference.PagamentiTelematiciGPApp" name="GPAppPort" />
        </client>
    </system.serviceModel>
</configuration>