<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">


                        <!--https://easyweb.**********.it-->
    <ServiceProvider Name="http://193.206.62.206:8081" 
                     Description="SAML Service Provider per EasyWeb"
                     AssertionConsumerServiceUrl="~/saml/consumer.aspx"
                     LocalCertificateFile="saml\*****.pfx"
                     LocalCertificatePassword="**********"/>

    <PartnerIdentityProviders>

      <PartnerIdentityProvider Name="https://idemidp.****.it/simplesaml/saml2/idp/metadata.php"
                               Description="IDEM IdP Università  degli Studi del"
                               SignAuthnRequest="true"
                               WantSAMLResponseSigned="false"
                               WantAssertionSigned="false"
                               WantAssertionEncrypted="false"
                               UseEmbeddedCertificate="true"
                               SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                               SingleSignOnServiceUrl="https://idemidp.****.it/simplesaml/saml2/idp/SSOService.php"
                               SingleLogoutServiceUrl="https://idemidp.****.it/simplesaml/saml2/idp/SingleLogoutService.php"/>

    </PartnerIdentityProviders>

  </SAMLConfiguration>