<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings> 
    <add name="unibas_easyConnectionString" connectionString="Data Source=185.56.8.51,5839;Initial Catalog=Rettorato_Ok;Persist Security Info=True;User ID=assistenza;Password=****" providerName="System.Data.SqlClient" />
    <add name="Backend.Properties.Settings.unibas_easyConnectionString" connectionString="Data Source=185.56.8.51,5839;Initial Catalog=Rettorato_Ok;Persist Security Info=True;User ID=assistenza;Password=*************" providerName="System.Data.SqlClient" />
    <add name="Backend.Properties.Settings.rettorato_okConnectionString" connectionString="Data Source=10.10.10.201;Initial Catalog=rettorato_ok;Persist Security Info=True;User ID=assistenza;Password=**************" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <!-- CASHFLOW PRODUZIONE-->
    <!-- SVILUPPO (VPN Sophos Ufficio)-->
    <!--185.56.8.51,5839  10.10.11.14-->
    <add key="DBServer" value="10.10.11.14" />
    <add key="DBUser" value="assistenza" />
    <add key="DBPassword" value="*****" />
    <add key="DBName" value="unibas_easy" />
    <add key="DBDipartimento" value="amministrazione" />
    <add key="EnableSSORegistraton" value="false" />
    <add key="frontendSSO" value="http://localhost:63342/client/app_segreterie/indexDebug.html" />
    <!-- -->
    

    <add key="smtpserver" value="smtps.aruba.it" />
    <add key="smtpport" value="465" /> 
    <add key="smtpuser" value="test-dev@temposrl.com" />
    <add key="smtppwd" value="****" />

    <!-- FINE CONFIGURAZIONE -->
    <add key="AnonymousToken" value="AnonymousToken123456789" />
    <add key="AnonymousPermissions" value="registry%user,registryaddress%user,registry%instmuser,publicazregistry_instmuser%instmuser,registryaddress%instmuser,registrationuser%usr" />
    <add key="userkindUserPassw" value="3" />
    <add key="userkindSSO" value="5" />
    <add key="MasterKey" value="****" />
    <add key="CausaleCredito" value="00050001000200060002" />
    <!-- chiavi custom VISUALMDLW-->
    <add key="pathGenerator" value="D:\easy\segreterie\Segreterie.Generator\bin\Debug" />
    <add key="machineusername" value="TODO" />
    <add key="machinepassword" value="TODO" />
    <!-- TODO: da rimuovere -->
    <add key="CausaleDebito" value="00050001000100100002" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ApiURIs-ISAPI-Integrated-4.0" path="/static/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="DataModule" type="Backend.DataModule" />
    </modules>
  </system.webServer>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="ActivationCodes" cacheMemoryLimitMegabytes="10" physicalMemoryLimitPercentage="0" pollingInterval="00:01:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.net>
    <mailSettings>
    </mailSettings>
  </system.net>
</configuration>