<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="f24ep_default.Properties.Settings.Rettorato_OkConnectionString"
            connectionString="Data Source=WIN12-DATABASE\cp1,1434;Initial Catalog=Rettorato_Ok;User ID=amm;Password=insert a strong password;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>