/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

-- USE [XXXX]
--GO
/*--------------------------------------------------------------------------------------------------------------------------

			Questa stored procedure legge dal DB utente e scrive nella tabella  "coan1_hierarchy_td" del db  >> DataWareHouse_XXXX <<				 
			!!! ATTENZIONE !!! Prima di eseguire/installare questa SP sul Database di Easy verificare il nome corretto del database DataWareHouse
			Questa sp prevede che già esistano le tabelle sul DB DataWareHouse

---------------------------------------------------------------------------------------------------------------------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [_NomeEnte_easy]	
-- setuser'amministrazione'
-- exec compute_dw_coan1_hierarchy_td
-- select  * from  DataWareHouse_ENTE.dbo.coan1_hierarchy_td 
if exists (select * from dbo.sysobjects where id = object_id(N'compute_dw_coan1_hierarchy_td') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure compute_dw_coan1_hierarchy_td
GO


CREATE  PROCEDURE  [compute_dw_coan1_hierarchy_td]
AS
BEGIN


	DELETE DataWareHouse_ENTE.dbo.coan1_hierarchy_td
	
	insert into DataWareHouse_ENTE.dbo.coan1_hierarchy_td	(
		[idsorkind],
		[ayear] ,
		[nlevel],
		key_idusable,
		Livello1,
		Livello2,
		Livello3,
		Livello4
		--[L1_key_idsor1],		[L1_code] ,		[L1_description] ,
		--[L2_key_idsor1] ,		[L2_code] ,		[L2_description],
		--[L3_key_idsor1] ,		[L3_code] ,		[L3_description] ,
		--[L4_key_idsor1] ,		[L4_code] ,		[L4_description] 
	)
		SELECT 
			C.idsortingkind1, 
			C.ayear,
			coalesce( C4.nlevel, C3.nlevel, C2.nlevel, C1.nlevel),

			CAST(C.ayear AS varchar(4)) + + RIGHT('000000' + CAST(coalesce( C4.idsor, C3.idsor,C2.idsor,C1.idsor) AS varchar(6)), 6),
	
			C1.sortcode + ' • ' + C1.description,
			C2.sortcode + ' • ' + C2.description,
			C3.sortcode + ' • ' + C3.description,
			C4.sortcode + ' • ' + C4.description
			--' • '
			--CASE WHEN C1.idsor IS NOT NULL 
			--	THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(C1.idsor AS varchar(6)), 6)
			--	ELSE NULL END 
			--AS L1_key_idsor1,
			--C1.sortcode as L1_code,
			--C1.description as L1_description,
			
			--CASE WHEN C2.idsor IS NOT NULL 
			--	THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(C2.idsor AS varchar(6)), 6)
			--	ELSE NULL END 
			--AS L2_key_idsor1,
			--C2.sortcode as L2_code,
			--C2.description as L2_description,
			
			--CASE WHEN C3.idsor IS NOT NULL 
			--	THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(C3.idsor AS varchar(6)), 6)
			--	ELSE NULL END 
			--AS L3_key_idsor1,
			--C3.sortcode as L3_code,
			--C3.description as L3_description,

			--CASE WHEN C4.idsor IS NOT NULL 
			--	THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(C4.idsor AS varchar(6)), 6)
			--	ELSE NULL END 
			--AS L4_key_idsor1,
			--C4.sortcode as L4_code,
			--C4.description as L4_description
		FROM sorting C1
		join config c on C1.idsorkind = c.idsortingkind1
		left join sorting C2 on C2.paridsor = C1.idsor and C2.nlevel = 2
		left join sorting C3 on C3.paridsor = C2.idsor and C3.nlevel = 3
		left join sorting C4 on C4.paridsor = C3.idsor and C4.nlevel = 4
		where C1.nlevel = 1
		--where C.ayear >= 2025-6

	
	INSERT INTO DataWareHouse_ENTE.dbo.coan1_hierarchy_td (
			[idsorkind],
			[ayear] ,
			[nlevel],
			key_idusable,
			Livello1,
			Livello2,
			Livello3
			--[L1_key_idsor1],		[L1_code] ,		[L1_description] ,
			--[L2_key_idsor1] ,		[L2_code] ,		[L2_description],
			--[L3_key_idsor1] ,		[L3_code] ,		[L3_description]
			--[L4_key_idsor1] ,		[L4_code] ,		[L4_description] 
			)
		SELECT	C.idsortingkind1  as idsorkind,
				C.ayear, 
				'3' as nlevel,
				CAST( C.ayear  AS varchar(4)) +  '009998',/*key_idusable*/
				--Livello1
				(select top 1 D.sortcode  from  sorting D
					where D.nlevel = 1 and  paridsor is null  and D.idsorkind = C.idsortingkind1 order by  D.idsor)
					+ ' • ' +
				(select top 1 D.description  from  sorting D
					where D.nlevel = 1 and  paridsor is null  and D.idsorkind = C.idsortingkind1 order by  D.idsor),

				--Livello2
				'Da Imputare'+ ' • ' +'Da Imputare', 
				--Livello3
				'Da Imputare'+ ' • ' +'Da Imputare'
				 
				---- livello 1
				--CAST(C.ayear AS varchar(4)) +  convert(varchar(50),(select top 1 D.idsor  from  sorting D
				--										where D.nlevel = 1 and 
				--											paridsor is null  and 
				--											D.idsorkind = C.idsortingkind1 
				--											order by  D.idsor )),
				--(select top 1 D.sortcode  from  sorting D
				--	where D.nlevel = 1 and  paridsor is null  and D.idsorkind = C.idsortingkind1 order by  D.idsor) ,
				--(select top 1 D.description  from  sorting D
				--	where D.nlevel = 1 and  paridsor is null  and D.idsorkind = C.idsortingkind1 order by  D.idsor),

				---- livello 2
				--CAST(C.ayear AS varchar(4)) +  '009999' as L3_key_idsor1, 
				--'Da Imputare', 
				--'Da Imputare' , 

				---- livello 3
				--CAST( C.ayear  AS varchar(4)) +  '009998' as L2_key_idsor1, 
				--'Da Imputare' , 
				--'Da Imputare'

		FROM config C 
		where C.idsortingkind1 is not null






END

