/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

if exists (select * from dbo.sysobjects where id = object_id(N'[compute_sp_AllineaASinistra]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [compute_sp_AllineaASinistra]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



CREATE                                           procedure compute_sp_AllineaASinistra (
	@lunghezza int,
	@stringa varchar(8000) output
)AS BEGIN
	if (@stringa is null) set @stringa = space(@lunghezza)
	declare @lenstr int
	set @lenStr=len(@stringa)
	if (@lenStr>@lunghezza) set @stringa = substring(@stringa,1,@lunghezza)
	set @stringa = @stringa+space(@lunghezza-@lenStr)
END




GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

