/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
CREATE TABLE transparencysent
(
	identificativo_servizio varchar	(150),
	ayear int,
	idsent int,   -- incrementale numerico trasmissione Easy, annuale
	idexp int,
	description varchar(400),
	idsor_siope int,
	sortcode_siope varchar(50),
	description_siope varchar(400),
	idreg int,
	cf_foreigncf varchar(40),
	p_iva varchar(15),
	ragione_sociale varchar(200),
	importo_pagato decimal(19,2),
	idsor01 int, 
	idsor02 int, 
	idsor03 int, 
	idsor04 int, 
	idsor05 int, 
	dipartimento varchar(400),
	data_transazione date,
	flagtransmissionstatus char(1), --- I D M indica lo stato trasmissione
	active char(1), --da mettere a N a cancellazione avvenuta o per saltare determinate righe per esigenze particolari
	ambito_temporale varchar(200),
	tipologia_spesa varchar(200),
	ct datetime,
	cu varchar(64),  
	lt datetime, 
	lu varchar(64),
	PRIMARY KEY (ayear, idsent)
)
*/
if exists (select * from dbo.sysobjects where id = object_id(N'[compute_export_siope_esitato]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [compute_export_siope_esitato]
GO
 
SET ANSI_NULLS ON
GO
 
SET QUOTED_IDENTIFIER ON
GO

-- setuser 'amministrazione'
-- exec  compute_export_siope_esitato_test 2024, 'I'
--go
CREATE PROCEDURE [compute_export_siope_esitato]
	@ayear smallint,
	@opkind char(1) = 'I'-- /*I insert U update D Delete*/

AS BEGIN
DECLARE @codesorkind_siopespese varchar(20)

/*

Codici da escludere dall'esportazione in base alla email di Elisabetta

Codice		Siope uscite 2018	
101			Redditi da lavoro dipendente
10101		Retribuzioni lorde		
1010101		Retribuzioni in denaro
1010101001	Arretrati per anni precedenti corrisposti al personale a tempo indeterminato
1010101002	Voci stipendiali corrisposte al personale a tempo indeterminato
1010101003	Straordinario per il personale a tempo indeterminato
1010101004	Indennità ed altri compensi, esclusi i rimborsi spesa per missione, corrisposti al personale a tempo indeterminato
1010101005	Arretrati per anni precedenti corrisposti al personale a tempo determinato
1010101006	Voci stipendiali corrisposte al personale a tempo determinato
1010101007	Straordinario per il personale a tempo determinato
1010101008	Indennità ed altri compensi, esclusi i rimborsi spesa documentati per missione, corrisposti al personale a tempo determinato
1010101009	Assegni di ricerca
10102		Contributi sociali a carico dell'ente
1010201		Contributi sociali effettivi a carico dell'ente
1010201001	Contributi obbligatori per il personale
1010201002	Contributi previdenza complementare
1010201003	Contributi per indennità di fine rapporto
1010201999	Altri contributi sociali effettivi n.a.c.
1010202		Altri contributi sociali
1010202001	Assegni familiari
1010202002	Equo indennizzo
1010202003	Indennità di fine servizio - quota annuale
1010202999	Contributi erogati direttamente al proprio personale n.a.c.	
1020101		Imposta regionale sulle attività produttive (IRAP)
1020101001	Imposta regionale sulle attività produttive (IRAP)

--*/
--IF (@opkind = 'I') RETURN

	IF @ayear >= 2024
	BEGIN
	SET @codesorkind_siopespese   = 'SIOPE_U_18'
	declare @idsorkind_siope int
	select  @idsorkind_siope = idsorkind from sortingkind where codesorkind=@codesorkind_siopespese

	select @ayear as 'anno',
		TSENT.idsent as 'idsent',
		CONVERT(varchar(4),p.ypay) +  '/'+ CONVERT(varchar(10),p.npay) + '/'+ CONVERT(varchar(20),e.idexp)   as 'descrizione',
		TSENT.identificativo_servizio as 'identificativo_servizio',
		EL.idexp  as 'idexp',
		S.idsor as 'idsor_siope',
		S.sortcode as 'codice_siope',
		S.description as 'descrizione_siope',
		R.idreg,
		'-' as 'cf_foreigncf',
		'-' as 'p_iva',
		CASE
		WHEN (R.idregistryclass  in('21','23','24','25') and isnull(RD.coderesidence,'I') = 'I')  THEN 'Altro soggetto pubblico e privato' 
		WHEN (R.idregistryclass  in('21','23','24','25') and isnull(RD.coderesidence,'I') <> 'I') THEN 'Soggetto estero' 
		/*
		Società, enti commerciali, ditte individuali e studi associati
		Persona Fisica
		Enti non commerciali ed istituzioni internazionali
		*/
		WHEN (R.idregistryclass  = '22'   or  len(ltrim(rtrim(isnull(R.cf,R.foreigncf) )) )  = 16)    THEN 'Persona Fisica'
		ELSE 'Altro soggetto pubblico e privato'
		END  as 'ragione_sociale',
		sum(ES.amount) as 'importo_pagato',
		s1.idsor as 'idsor01',
		null /*s2.idsor*/ as 'idsor02',
		null /*s3.idsor*/ as 'idsor03',
		null /*s4.idsor*/ as 'idsor04',
		null /*s5.idsor*/ as 'idsor05',
		s1.description as 'dipartimento',
		bt.transactiondate  as 'data_transazione',
		ISNULL(TSENT.ambito_temporale,'ANNUALE') as 'ambito_temporale',
		ISNULL(TSENT.tipologia_spesa, sortinglev2.description) as 'tipologia_spesa' 
		from expenselast EL
			JOIN expensesorted ES on EL.idexp=ES.idexp
			JOIN sorting S on ES.idsor=S.idsor
			JOIN expense E on E.idexp=EL.idexp
			JOIN registry R on E.idreg=R.idreg
			LEFT OUTER JOIN residence RD on R.residence = RD.idresidence
			JOIN payment p ON el.KPAY=P.KPAY
			JOIN paymenttransmission pt ON PT.kpaymenttransmission = p.kpaymenttransmission
			JOIN treasurer TR ON TR.idtreasurer = pt.idtreasurer
			JOIN expenseyear ey on ey.idexp  = EL.idexp and ey.ayear = @ayear
			JOIN upb U on u.idupb = ey.idupb
			LEFT OUTER JOIN sorting s1 on s1.idsor = TR.idsor01 

			--LEFT OUTER JOIN  sorting s2 on s2.idsor = u.idsor02 
			--LEFT OUTER JOIN  sorting s3 on s3.idsor = u.idsor03 
			--LEFT OUTER JOIN  sorting s4 on s4.idsor = u.idsor04 
			--LEFT OUTER JOIN  sorting s5 on s5.idsor = u.idsor05 
			LEFT OUTER JOIN  sortinglink  on  sortinglink.idchild = S.idsor and sortinglink.nlevel = 2
			LEFT OUTER JOIN  sorting sortinglev2 on sortinglev2.idsor = sortinglink.idparent 
			JOIN banktransaction  bt ON bt.idexp = EL.idexp 
			-- DEFINISCO UNA CHIAVE LOGICA DATA  DAI CAMPI:
			-- DESCRIZIONE (ypay + npay + idexp), DATA_TRANSAZIONE, CODICE SIOPE, ANAGRAFICA, DIPARTIMENTO DEL CASSIERE-DISTINTA
			-- PERCHE' NON SEMPRE SULL'UPB E' IMPOSTATO IL PRIMO ATTRIBUTO 
			LEFT OUTER JOIN transparencysent TSENT 
				ON  TSENT.data_transazione = bt.transactiondate   --- data transazione
				AND TSENT.idsor_siope =  S.idsor  --- codice SIOPE 
				AND TSENT.idreg =  E.idreg    --- anagrafica 
				AND TSENT.dipartimento =  s1.description -- attributo 1 identifica il dipartimento, leggo dal cassiere della distinta
				AND TSENT.description = CONVERT(varchar(4),p.ypay) +  '/'+ CONVERT(varchar(10),p.npay) + '/'+ CONVERT(varchar(20),E.idexp) 
		
			WHERE year(bt.transactiondate) = @ayear 
			and bt.transactiondate = (select max(transactiondate)  from banktransaction 
									   where banktransaction.idexp = EL.idexp and amount > 0  )
			AND S.idsorkind = @idsorkind_siope 
			-- Togliere i pagamenti dei reintegri del fondo economale
			AND E.idexp not in (
			select re.idexp 
				from amministrazione.expense re 
				join amministrazione.pettycashexpense rpe on re.idexp = rpe.idexp 
				join amministrazione.pettycashoperation rp on rp.idpettycash = rpe.idpettycash and rp.yoperation = rpe.yoperation and rp.noperation = rpe.noperation
				where ((rp.flag%4)=2) and rp.yoperation = @ayear
			)
			
			AND s.sortcode not in  ('1010101001','1010101002','1010101003','1010101004','1010101005','1010101006','1010101007','1010101008','1010101009'
								   ,'1010201001','1010201002','1010201003','1010201999','1010202001','1010202002','1010202003','1010202999','1020101001')
			AND 
			(
			 ---SELEZIONO INCARICHI MAI TRASMESSI IN PIATTAFORMA, 
			 ---ESSI NON DOVREBBERO ESSERE PRESENTI NEANCHE IN TABELLA  
			 (TSENT.identificativo_servizio is null AND @opkind = 'I') 
			 ---SELEZIONO INCARICHI   TRASMESSI DA ANNULLARE IN PIATTAFORMA, EFFETTUO UNA CANCELLAZIONE LOGICA SUL DB
			 OR
			 (TSENT.identificativo_servizio is not null AND TSENT.flagtransmissionstatus = 'D' AND @opkind = 'D')  
			 ---SELEZIONO INCARICHI TRASMESSI DA SOSTITUIRE TOTALMENTE PER DATI MODIFICATI
			 OR
			 (TSENT.identificativo_servizio is not null AND TSENT.flagtransmissionstatus  = 'M' AND @opkind = 'U') 
			)
			AND ISNULL(TSENT.active,'S') = 'S' -- in ogni caso trasmetto solo le righe che non sono state disattivate
			--AND bt.transactiondate = '2024-09-20'
			group by  CONVERT(varchar(4),p.ypay) +  '/'+ CONVERT(varchar(10),p.npay) + '/'+ CONVERT(varchar(20),E.idexp),EL.idexp,  S.idsor,  E.description, 
			R.idreg,R.idregistryclass,R.residence, RD.coderesidence, bt.transactiondate, S.sortcode, sortinglev2.description,
			ISNULL(R.cf,R.foreigncf),R.p_iva,R.title,
			S.description,s1.idsor,s1.description,/*s2.idsor, s3.idsor, s4.idsor, s5.idsor,*/ bt.transactiondate,
			TSENT.identificativo_servizio,TSENT.idsent,TSENT.ambito_temporale, TSENT.tipologia_spesa 
			order by bt.transactiondate, TSENT.idsent,CONVERT(varchar(4),p.ypay) +  '/'+ CONVERT(varchar(10),p.npay) + '/'+ CONVERT(varchar(20),E.idexp),S.sortcode,ISNULL(R.cf,R.foreigncf),p_iva,s1.idsor,s1.description
			/*,s2.idsor, s3.idsor, s4.idsor, s5.idsor*/
			
			

	END

END

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

--exec  compute_export_siope_esitato 2024, 'I'
--go
--exec  compute_export_siope_esitato_test 2024, 'I'