/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/*--------------------------------------------------------------------------------------------------------------------------

			Questa stored procedure legge dal DB utente e scrive nella tabella  "sortingkind_td" del db  >> DataWareHouse_ENTE <<				 

---------------------------------------------------------------------------------------------------------------------------*/



-- setuser'amministrazione'
-- exec compute_dw_sortingkind_td 

-- select  * from DataWareHouse_ENTE.dbo.sortingkind_td
if exists (select * from dbo.sysobjects where id = object_id(N'compute_dw_sortingkind_td') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure compute_dw_sortingkind_td
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO


Create   PROCEDURE compute_dw_sortingkind_td
AS
BEGIN

	-- Cancella tutta dalla tabella sortingkind_td
	DELETE  DataWareHouse_ENTE.dbo.sortingkind_td

	-- Riempie la tabella  sortingkind_td
	INSERT INTO DataWareHouse_ENTE.dbo.sortingkind_td (
		 ayear,
		 idsorkind1,  codesorkind1, description1,    
		 idsorkind2,  codesorkind2, description2,
		 idsorkind3,  codesorkind3, description3
		 )
	SELECT C.ayear,
			S1.idsorkind      ,    S1.codesorkind      ,S1.description      ,
			S2.idsorkind      ,    S2.codesorkind      ,S2.description      ,
			S3.idsorkind      ,    S3.codesorkind      ,S3.description      
	FROM config C 
	left outer join sortingkind S1	on S1.idsorkind = C.idsortingkind1
	left outer join sortingkind S2	on S2.idsorkind = C.idsortingkind2
	left outer join sortingkind S3	on S3.idsorkind = C.idsortingkind3
	where ( C.idsortingkind1 is not null or  C.idsortingkind2 is not null or  C.idsortingkind3 is not null)
	
	


END


GO
