/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/*--------------------------------------------------------------------------------------------------------------------------

			Questa stored procedure legge dal DB utente e scrive nella tabella  "upb_td" del db  >> DataWareHouse <<				 

---------------------------------------------------------------------------------------------------------------------------*/



--setuser'amministrazione'
if exists (select * from dbo.sysobjects where id = object_id(N'compute_dw_upb_td') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure compute_dw_upb_td
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

-- exec compute_dw_upb_td
Create   PROCEDURE compute_dw_upb_td
AS
BEGIN

	-- Cancella tutta dalla tabella upb_td
	DELETE  DataWareHouse_ENTE.dbo.upb_td

	-- Riempie la tabella  upb_td
	INSERT INTO DataWareHouse_ENTE.dbo.upb_td (
		idupb, codeupb, upbtitle ,
		idupbpadre,
		idsor01, /* idsor01 dell' UPB*/
		--alltitlesor01,
		manager, mail
		 )
	SELECT u.idupb, u.codeupb ,  u.title, 
			u.paridupb, 
			u.idsor01,  u.manager, 'your-email@example.com'
	FROM upbview u
	join sorting s on u.idsor01 = s.idsor

	-- Cancella tutta dalla tabella centrodiresponsabilita_td
	DELETE DataWareHouse_ENTE.dbo.attributosicur01_td

	-- Riempie la tabella dipartimento_td : inserisce solo il livello 1 del primo attributo di sicureza (idsor01)
	-- si tratta dell'organigramma contabile, quindi i nodi sono le varie strutture dell'ateneo 
	INSERT INTO DataWareHouse_ENTE.dbo.attributosicur01_td ( idsor, sortcode, alltitle)
	SELECT 
		idsor,
		sortcode,
		sortcode+'-'+  description AS description
	FROM sorting WHERE idsorkind = (Select idsorkind01 from uniconfig)
		

	-- Valorizza il campo "area_dipartimento" della tabella  "upb_td" con il 1° livello dell'attributo di sicurezza idsor1
	UPDATE  DataWareHouse_ENTE.dbo.upb_td 
		SET alltitlesor01 = S1.alltitle 
		FROM 	DataWareHouse_ENTE.dbo.attributosicur01_td S1
	WHERE S1.idsor = DataWareHouse_ENTE.dbo.upb_td.idsor01

	UPDATE DataWareHouse_ENTE.dbo.upb_td 
	SET idsor01 = 0, alltitlesor01='Altro'  WHERE idsor01 IS null

	INSERT INTO DataWareHouse_ENTE.dbo.attributosicur01_td
	SELECT 0,0,'Altro'
END


GO