/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

-- USE [XXXX]
--GO
/*--------------------------------------------------------------------------------------------------------------------------

			Questa stored procedure legge dal DB utente e scrive nella tabella  "coan1_td" del db  >> DataWareHouse_XXXX <<				 
			!!! ATTENZIONE !!! Prima di eseguire/installare questa SP sul Database di Easy verificare il nome corretto del database DataWareHouse
			Questa sp prevede che già esistano le tabelle sul DB DataWareHouse

---------------------------------------------------------------------------------------------------------------------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [_NomeEnte_easy]	
-- setuser'amministrazione'
-- exec compute_dw_coan1_td
-- select  * from  DataWareHouse_ENTE.dbo.coan1_td
if exists (select * from dbo.sysobjects where id = object_id(N'compute_dw_coan1_td') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure compute_dw_coan1_td
GO


CREATE  PROCEDURE  [compute_dw_coan1_td]
AS
BEGIN


	DELETE DataWareHouse_ENTE.dbo.coan1_td
	
	INSERT INTO DataWareHouse_ENTE.dbo.coan1_td (
			ayear,
			idsor,
			Key_idsor1,
			sortcode,
			description ,
			nlevel,
			paridsor,
			idsorkind,
			sortparentcode,
			key_paridsor1
			--sortparentdesc
			)
		SELECT 
			C.ayear,
			S.idsor,
			CASE WHEN S.idsor IS NOT NULL THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(S.idsor AS varchar(6)), 6) ELSE NULL END AS KEY_idsor1,
			S.sortcode,
			S.description ,
			S.nlevel,
			S.paridsor,
			C.idsortingkind1 ,
			Spar.sortcode,
			CASE WHEN Spar.idsor IS NOT NULL THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(Spar.idsor AS varchar(6)), 6) ELSE NULL END AS key_paridsor1
			--Spar.description
		FROM sorting S
		join config C on S.idsorkind = C.idsortingkind1
		JOIN sortinglevel (NOLOCK) 	ON  sortinglevel.nlevel = S.nlevel and sortinglevel.idsorkind = S.idsorkind
		JOIN sortingkind (NOLOCK) 	on  sortingkind.idsorkind = S.idsorkind
		left outer join sorting Spar on Spar.idsor = S.paridsor
		--WHERE ((sortinglevel.flag & 2) <> 0)
		--and
		--	(SELECT count(*) FROM sorting b1 WHERE b1.paridsor = S.idsor )=0

	
	INSERT INTO DataWareHouse_ENTE.dbo.coan1_td (
			ayear,
			idsor,
			Key_idsor1,
			sortcode, 
			description ,
			nlevel,
			paridsor,
			idsorkind,
			sortparentcode,
			key_paridsor1
			)
		SELECT  C.ayear, 
				9999, 
				CAST(C.ayear AS varchar(4)) +  '009999' as Key_idsor1, 
				'Da Imputare' as sortcode, 
				'Da Imputare' as description , 
				'3' as nlevel
				,9998 as paridsor, 
				C.idsortingkind1  as idsorkind,
				'Da Imputare',
				CAST(C.ayear AS varchar(4)) +  '9998' as Key_idsor1 
		FROM config C 
		where C.idsortingkind1 is not null

	INSERT INTO DataWareHouse_ENTE.dbo.coan1_td (
			ayear,
			idsor,
			Key_idsor1,
			sortcode, 
			description ,
			nlevel,
			paridsor,
			idsorkind,
			sortparentcode,
			key_paridsor1
			)
		SELECT   C.ayear, 
				9998 as idsor, 
				CAST( C.ayear  AS varchar(4)) +  '009998' as Key_idsor1, 
				'Da Imputare' as sortcode, 
				'Da Imputare' as description , 
				'2' as nlevel,
				 --paridsor,
				 (select top 1 D.idsor  from  DataWareHouse_ENTE.dbo.coan1_td D
				 where D.nlevel = 1 and  paridsor is null order by  D.idsor),
				C.idsortingkind1  as idsorkind,
			'Da Imputare',
			CAST(C.ayear AS varchar(4)) +  convert(varchar(50),(select top 1 D.idsor  from  DataWareHouse_ENTE.dbo.coan1_td D
				 where D.nlevel = 1 and  paridsor is null order by  D.idsor))  
		FROM config C 
		where C.idsortingkind1 is not null




END

