/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

-- USE [XXXX]
--GO
/*--------------------------------------------------------------------------------------------------------------------------

			Questa stored procedure legge dal DB utente e scrive nella tabella  "coan3_td" del db  >> DataWareHouse_Ente_XXXX <<				 
			!!! ATTENZIONE !!! Prima di eseguire/installare questa SP sul Database di Easy verificare il nome corretto del database DataWareHouse_Ente
			Questa sp prevede che già esistano le tabelle sul DB DataWareHouse_Ente

---------------------------------------------------------------------------------------------------------------------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [_NomeEnte_easy]	
-- setuser'amministrazione'
-- exec compute_dw_coan3_td
-- select  * from  DataWareHouse_Ente.dbo.coan3_td
if exists (select * from dbo.sysobjects where id = object_id(N'compute_dw_coan3_td') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure compute_dw_coan3_td
GO


CREATE  PROCEDURE  [compute_dw_coan3_td]
AS
BEGIN


	DELETE DataWareHouse_Ente.dbo.coan3_td
	
	INSERT INTO DataWareHouse_Ente.dbo.coan3_td (
			ayear,
			idsor,
			Key_idsor3,
			sortcode,
			description ,
			nlevel,
			paridsor,
			idsorkind
			)
		SELECT 
			C.ayear,
			S.idsor,
			CASE WHEN S.idsor IS NOT NULL THEN CAST(C.ayear AS varchar(4)) + RIGHT('000000' + CAST(S.idsor AS varchar(6)), 6) ELSE NULL END AS Key_idsor3,
			S.sortcode,
			S.description ,
			S.nlevel,
			S.paridsor,
			C.idsortingkind3 
		FROM sorting S
		join config C on S.idsorkind = C.idsortingkind3
		

	
	INSERT INTO DataWareHouse_Ente.dbo.coan3_td (
			ayear,
			idsor,
			Key_idsor3,
			sortcode, 
			description ,
			nlevel,
			paridsor,
			idsorkind
			)
		SELECT  C.ayear, 
				9999, 
				CAST(C.ayear AS varchar(4)) +  '009999' as Key_idsor3, 
				'9999' as sortcode, 
				'Da Imputare' as description , 
				'3' as nlevel
				,null as paridsor, 
				C.idsortingkind3  as idsorkind
		FROM config C 
		where C.idsortingkind3 is not null

	INSERT INTO DataWareHouse_Ente.dbo.coan3_td (
			ayear,
			idsor,
			Key_idsor3,
			sortcode, 
			description ,
			nlevel,
			paridsor,
			idsorkind
			)
		SELECT   C.ayear, 
				9998 as idsor, 
				CAST( C.ayear  AS varchar(4)) +  '009998' as Key_idsor3, 
				'9998' as sortcode, 
				'Da Imputare' as description , 
				'2' as nlevel,
				null as paridsor,
				C.idsortingkind3  as idsorkind

		FROM config C 
		where C.idsortingkind3 is not null




END

