/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/*--------------------------------------------------------------------------------------------------------------------------

			Questa stored procedure legge dal DB utente e scrive nella tabella  "budgetfact" del db  >> DataWareHouse <<				 

---------------------------------------------------------------------------------------------------------------------------*/


-- setuser'amministrazione'
-- exec compute_dw_budgetfact
-- select  * from DataWareHouse.dbo.budgetfact 
if exists (select * from dbo.sysobjects where id = object_id(N'compute_dw_budgetfact') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure compute_dw_budgetfact
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



Create  PROCEDURE [compute_dw_budgetfact]

AS
  BEGIN

  -- Cancello soltanto le righe per ricrearle
	  DELETE DataWareHouse.dbo.budgetfact;
	       
      DECLARE @esercizioini INT
	  IF MONTH(GETDATE()) > 5 -- Siamo a Giugno, quindi è stato chiuso l'esercizio precedente
		SET @esercizioini= YEAR(GETDATE())-6 -- Prendo soltanto due esercizi chiusi e l'anno in corso
	  ELSE					-- Siamo nei primi mesi dell'anno, quindi NON è stato chiuso l'esercizio precedente
		SET @esercizioini= YEAR(GETDATE())-7 -- Prendo due esercizi chiusi, l'anno precedente non ancora chiuso e l'anno in corso
 
 
    -- VARIAZIONI NON INIZIALI (tutte, escluse : "Iniziale" e "Non operativa")
    INSERT INTO DataWareHouse.dbo.budgetfact 
    (
        ayear,
        number,
        rownumber,
        description,
		idacc,
        idupb,
        idsor1,idsor2,idsor3,
		adate,
        amount, --budgetvar,
		rowkind,
		idsor01 
    )
    SELECT yvar,
           nvar,
           rownum,
           description,
           idacc,
           idupb,
			idsor1,idsor2,idsor3,
			adate,
           isnull(amount, 0) ,
		   'PrevisioneVariazione',
		   idsor01 
    FROM accountvardetailview
    WHERE variationkind NOT IN ( 5, 6 ) -- not "Iniziale" e "Non operativa", inserisce:	1	Normale, 2	Ripartizione, 3	Assestamento, 4	Storno
          AND idaccountvarstatus = 5
 		  AND yvar >= @esercizioini ------------------------------------------------------------------------

    
    -- VARIAZIONI  INIZIALI (solo Iniziali)
    INSERT INTO DataWareHouse.dbo.budgetfact 
    (
        ayear,
        number,
        rownumber,
        description,
		idacc,
        idupb,
        idsor1,idsor2,idsor3,
		adate,
        amount, --budgetvar,
		rowkind,
		idsor01
    )

    SELECT yvar,
           nvar,
           rownum,
           description,
           idacc,
           idupb,
			idsor1,idsor2,idsor3,
			adate,
           ISNULL(amount, 0) ,
		   'PrevisioneIniziale',
		   idsor01
       FROM accountvardetailview
    WHERE variationkind = 5				-->	Iniziale
          AND idaccountvarstatus = 5
          AND yvar > @esercizioini



------------------------------------------------------- FINE PARTE BUDGET ----------------------------------
------------------------------------------------------------------------------------------------------------
-- Questa parte per il momento la commento



	  --DECLARE @idsorkind varchar(50)
	  --SELECT @idsorkind = idsortingkind1 from config where ayear = (SELECT MAX(ayear) FROM config)
	  --DECLARE @idsorkind3 varchar(50)
	  --SELECT @idsorkind3 = idsortingkind3 from config where ayear = (SELECT MAX(ayear) FROM config)

   --   --------------------		COAN  -------------------------------
   --   SELECT DISTINCT idsor                        AS idcentrodicosto,
   --                   sortcode + '-' + description AS description,
   --                   leveldescr,
   --                   CASE
   --                     WHEN nlevel = 2 THEN paridsor
   --                     ELSE (SELECT s2.paridsor
   --                           FROM   sorting s2
   --                           WHERE  s2.idsorkind = @idsorkind
   --                                  AND s2.idsor = sortingusable.paridsor)
   --                   END                          AS idcentrodicostopadre
   --   INTO   #tempidcentrodicosto
   --   FROM   sortingusable
   --   WHERE  idsorkind = idsorkind 
   --   UNION
   --   SELECT 9999,
   --          'Altro',
   --          'L2',
   --          0;
   --   ------------------------------------------------------------
   --   --------------------		COAN3  -------------------------------
   --   SELECT DISTINCT idsor                        AS idcoordinataanalitica3,
   --                   sortcode + '-' + description AS description,
   --                   leveldescr,
   --                   CASE
   --                     WHEN nlevel = 2 THEN paridsor
   --                     ELSE (SELECT s2.paridsor
   --                           FROM   sorting s2
   --                           WHERE  s2.idsorkind = @idsorkind3
   --                                  AND s2.idsor = sortingusable.paridsor)
   --                   END                          AS idcoordinataanalitica3padre
   --   INTO   #tempidcoordinataanalitica3
   --   FROM   sortingusable
   --   WHERE  idsorkind = idsorkind 
   --   UNION
   --   SELECT 9999,
   --          'Altro',
   --          'L2',
   --          0;

      ------------------------------------------------------------
  --    UPDATE b
  --    SET    b.idcentrodicostopadre = c.idcentrodicostopadre
  --    FROM   #tempidcentrodicosto c
  --           JOIN DataWareHouse.dbo.budgetfact b
  --             ON b.idcentrodicosto = c.idcentrodicosto;

	 --UPDATE b
  --    SET    b.idcoordinataanalitica3padre = c.idcoordinataanalitica3padre
  --    FROM   #tempidcoordinataanalitica3 c
  --           JOIN DataWareHouse.dbo.budgetfact b
  --             ON b.idcoordinataanalitica3 = c.idcoordinataanalitica3;

      
  --    UPDATE DataWareHouse.dbo.budgetfact
  --    SET    importo = ISNULL(importo,0)


  --    DELETE DataWareHouse.dbo.budgetfact
  --    WHERE isnull(importo,0) =0 

    
  --    UPDATE DataWareHouse.dbo.budgetfact
  --    SET    idcentrodicostopadre = 0
  --    WHERE  idcentrodicosto = 9999;

  --    UPDATE DataWareHouse.dbo.budgetfact
  --    SET    idcoordinataanalitica3padre = 0
  --    WHERE  idcoordinataanalitica3 = 9999;


	 -- update DataWareHouse.dbo.budgetfact
	 -- set codiceconto = (select codeacc from account
		--				where account.idacc = DataWareHouse.dbo.budgetfact.idconto)

      DELETE DataWareHouse.dbo.budgetfact
      WHERE  ayear > Year(Getdate())
 
 
  END; 
  go


  --exec compute_dw_budgetfact 




