/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

if exists (select * from dbo.sysobjects where id = object_id(N'[enable_disable_triggers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [enable_disable_triggers]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [enable_disable_triggers](
	@owner 			varchar(50),
	@opkind 		char(1)
) as begin
	DECLARE @tablename varchar(50)
	DECLARE @user  varchar(50)
	DECLARE @string varchar(150)
	DECLARE @ownerTableName varchar(150)
	---------SET     @opkind = 'E'
	IF      Upper(@opkind) <> 'E' and Upper(@opkind) <> 'D' RETURN
	DECLARE cur CURSOR
	FOR 
		SELECT sysobjects.name, sysusers.name  
		FROM   sysobjects 
		JOIN   sysusers ON sysobjects.uid = sysusers.uid
		WHERE  sysobjects.id IN(SELECT parent_obj FROM sysobjects WHERE xtype='tr')
		AND    UPPER(ISNULL(sysusers.name,'')) = UPPER(@owner) -- or 
		       --------Upper(ISNULL(sysusers.name,'')) = 'DBO')
	OPEN cur
	FETCH next FROM cur INTO  @tablename, @user
	WHILE @@fetch_status = 0
	BEGIN
		SET @ownerTableName = @user + '.' + @tableName  
		SET @string ='Alter table '+ @ownerTableName 
		IF  Upper(@opkind) = 'D' SET @string = @string + ' Disable trigger all'
		IF  Upper(@opkind) = 'E' SET @string = @string + ' Enable  trigger all'
	
	EXEC (@string) 
	------SELECT * FROM dbo.GetTriggerStatus (@ownerTableName)
	FETCH next FROM cur INTO @tableName, @user
	END
	CLOSE cur
	DEALLOCATE cur
end
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


