/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

if exists (select * from dbo.sysobjects where id = object_id(N'[exp_verifica_inventariazione_ep_po_SLIM]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [exp_verifica_inventariazione_ep_po_SLIM]
GO

SET QUOTED_IDENTIFIER ON	
GO
SET ANSI_NULLS ON 
GO
 
-- SETUSER 'AMMINISTRAZIONE'
-- FINE GENERAZIONE SCRIPT --
--EXEC [exp_verifica_inventariazione_ep_po_SLIM] 2025
CREATE PROCEDURE [exp_verifica_inventariazione_ep_po_SLIM]
(
	@yentry int -- esercizio delle scritture da verificare
)
AS BEGIN

select 
-- SCRITTURA PARTITA DOPPIA
e.yentry [ScritturaAnno], 
e.nentry [ScritturaNumero],
CASE WHEN SUM(ISNULL(e.amount,0)) < 0 THEN -SUM(e.amount) ELSE NULL END [ScritturaImportoDare],


dd.number [DettaglioQuantita],
CONVERT(Decimal(19,2), SUM(dd.taxable)) [DettaglioImportoUnitario],

dd.rate [DettaglioAliquotaIva],

-- FATTURA IVA
SUM(dd.tax) [IvaRiga],
-- FATTURA IVA DETRAIBILE
CONVERT(Decimal(19,2),SUM(dd.tax - dd.unabatable) * (select top 1 prorata from iva_prorata where ayear = @yentry)) [IvaDetraibileRiga],
-- FATTURA IMPORTO
CONVERT(Decimal(19,2),SUM(CONVERT(decimal(19,2), ROUND(dd.taxable * ISNULL(dd.npackage, dd.number) * CONVERT(DECIMAL(19,2), dd.exchangerate) * (1 - CONVERT(DECIMAL(19,2),ISNULL(dd.discount, 0.0))), 2)))) [FatturaImponibileRiga],
-- FATTURA IMPORTO IVA INCLUSA
CONVERT(Decimal(19,2),SUM(CONVERT(decimal(19,2), ROUND(dd.taxable * ISNULL(dd.npackage, dd.number) *  CONVERT(DECIMAL(19,2),ISNULL(dd.exchangerate,1)) * (1 - CONVERT(DECIMAL(19,2),ISNULL(dd.discount, 0.0))), 2)) + CONVERT(decimal(19,2),ROUND(ISNULL(dd.tax,0),2)))) [FatturaImportoIvaInclusaRiga],


CONVERT(Decimal(19,2),md.tax) [DettaglioContrattoPassivoIva],

-- TOTALE RIGA CONTRATTO PASSIVO
CONVERT(Decimal(19,2),ROUND(md.taxable * ISNULL(md.npackage, md.number) * CONVERT(DECIMAL(19,2), md.exchangerate) * (1 - CONVERT(DECIMAL(19,2),ISNULL(md.discount, 0.0))), 2) + ROUND(md.tax,2)) [DettaglioContrattoPassivoTotaleRiga],

-- IMPORTO E QUANTITA' CONTRATTO PASSIVO
CONVERT(Decimal(19,2), md.taxable) [DettaglioContrattoPassivoImporto],
md.number [DettaglioContrattoPassivoQuantita],

-- CARICATI
(SELECT ISNULL(SUM(number), 0) FROM assetacquire WHERE md.idmankind = assetacquire.idmankind AND md.yman = assetacquire.yman AND md.nman = assetacquire.nman AND md.idgroup = assetacquire.rownum) [Caricati],

-- RESIDUI
ISNULL(md.number, 0) - (SELECT ISNULL(SUM(number), 0) FROM assetacquire WHERE md.idmankind = assetacquire.idmankind AND md.yman = assetacquire.yman AND md.nman = assetacquire.nman AND md.idgroup = assetacquire.rownum) [Residui],

CONVERT(Decimal(19,8),isnull(dd.discount, 0)) [FatturaPercentualeSconto],

-- ACCOUNT
a.codeacc [ScritturaContoCodice], 
a.title [ScritturaContoDescr],

-- ANAGRAFICA
r.idreg [ScritturaAnagraficaId],
r.title [ScritturaAnagraficaTitle],

-- UPB
u.codeupb [ScritturaCodiceUPB],


-- TIPO FATTURA
dd.idinvkind [TipoFatturaId],
dd.invoicekind [TipoFatturaDescrizione],
dd.codeinvkind [TipoFatturaCodice],

-- FATTURA/DOCUMENTO IVA
dd.yinv [FatturaAnno],
dd.ninv [FatturaNumero],
dd.adate [FatturaDataRegistrazione],
dd.idreg [FatturaAnagraficaId],
dd.registry [FatturaAnagraficaTitle],
dd.description [FatturaDescrizione],

-- SCONTO E TASSO CAMBIO
dd.exchangerate [FatturaTassoDiCambio],

-- DETTAGLIO
dd.rownum [DettaglioNumeroRiga],
dd.detaildescription [DettaglioDescrizione],
dd.ivakind [DettaglioAliquotaTipoIva],

-- LISTINO
l.intcode [DettaglioCodiceListino],

-- CATEGORIA MERCEOLOGICA
l.codelistclass [DettaglioCodiceClassMerceologica],
l.title [DettaglioDescrClassMerceologica],

-- CONTRATTO PASSIVO
md.idmankind [ContrattoPassivoCodiceTipo],
md.mankind [ContrattoPassivoDescrizioneTipo],
md.yman [ContrattoPassivoEsercizio],
md.nman [ContrattoPassivoNumero],
md.rownum [ContrattoPassivoNumeroDettaglio],
md.idgroup [ContrattoPassivoNumeroGruppo],
md.manager [ContrattoPassivoResponsabile],
md.codeinv [ClasseInventarialeCodice],
md.inventorytree [ClasseInventarialeDescrizione],

-- DETTAGLIO CONTRATTO PASSIVO
md.detaildescription [DettaglioContrattoPassivoDescrizione],
md.ivakind [DettaglioContrattoPassivoAliquotaTipoIva],
md.assetkind [DettaglioContrattoPassivoTipoBeneCodice],

-- UBICAZIONE
ub.locationcode [UbicazioneCodice],
ub.location [UbicazioneDescrizione],
ub.città [UbicazioneCittà],
ub.Edificio [UbicazioneEdificio],
ub.Responsabile [UbicazioneResponsabile]

from entrydetail			e	WITH (NOLOCK)
LEFT OUTER JOIN registry	r	WITH (NOLOCK)	ON e.idreg = r.idreg
LEFT OUTER JOIN upb			u	WITH (NOLOCK)	ON e.idupb = u.idupb
LEFT OUTER JOIN account		a	WITH (NOLOCK)	ON e.idacc = a.idacc

left outer join
(
	SELECT
		idmankind,
		yman,
		nman,
		manrownum,
		invoicedetail.idlist,
		invoicedetail.idinvkind,
		invoicekind.description as invoicekind,
		invoicekind.codeinvkind as codeinvkind,
		invoicedetail.yinv,
		invoicedetail.ninv,
		invoice.adate,
		invoice.description,
		invoicedetail.idgroup as rownum,
		invoicedetail.rownum as rownumXscrit,
		invoicedetail.detaildescription,
		sum(invoicedetail.taxable) as taxable,
		invoicedetail.number,
		invoicedetail.discount,
		invoicedetail.npackage,
		ivakind.description as ivakind,
		ivakind.rate,
		sum(invoicedetail.tax) as tax,
		sum(invoicedetail.unabatable) as unabatable,
		invoice.exchangerate,
		registry.idreg,
		registry.title as registry
	FROM invoicedetail		WITH (NOLOCK)	
	JOIN ivakind			WITH (NOLOCK)	ON ivakind.idivakind = invoicedetail.idivakind
	JOIN invoice			WITH (NOLOCK)	ON invoice.ninv = invoicedetail.ninv	AND invoice.yinv = invoicedetail.yinv	AND invoice.idinvkind = invoicedetail.idinvkind
	JOIN invoicekind		WITH (NOLOCK)	ON invoicekind.idinvkind = invoicedetail.idinvkind
	JOIN registry			WITH (NOLOCK)	ON registry.idreg = invoice.idreg
	WHERE isnull(invoicedetail.idpccdebitstatus,'') not in ('SOSP','NLdaLIQ','NLdaSOSP','NOLIQ','SospCnst','SospContz','SOSPdaLIQ','SOSPdaNL','SospEsReg')
	-- non esiste nota di creditoo a storno della fattura
	AND NOT EXISTS (select ninv from invoicedetail NCred where NCred.idinvkind_main = invoicedetail.idinvkind and  NCred.yinv_main = invoicedetail.yinv and
					NCred.ninv_main = invoicedetail.ninv and (NCred.rownum_main = invoicedetail.rownum or NCred.rownum_main is null) )
	 
	group by idmankind, yman, nman, manrownum, invoicedetail.idlist, invoicedetail.idinvkind, invoicekind.description, invoicekind.codeinvkind, invoicedetail.yinv,
			 invoicedetail.ninv, invoice.adate, invoice.description, invoicedetail.idgroup, invoicedetail.detaildescription, invoicedetail.number, invoicedetail.discount,
			 invoicedetail.npackage, ivakind.description, ivakind.rate, invoice.exchangerate, registry.idreg, registry.title,invoicedetail.rownum,invoicedetail.idpccdebitstatus
) as dd
	ON e.idrelated = ('inv§'+ convert(varchar(10),dd.idinvkind) + '§'+ convert(varchar(10),dd.yinv) + '§'+ convert(varchar(10),dd.ninv) + '§'+ convert(varchar(10),dd.rownumXscrit))

left outer join 
(
	select 
		mandatedetail.idmankind,
		mandatekind.description as mankind,
		mandatedetail.yman,
		mandatedetail.nman,
		mandatedetail.rownum,
		mandatedetail.idgroup,
		manager.title as manager,
		inventorytree.codeinv,
		inventorytree.description as inventorytree,
		mandatedetail.detaildescription,
		mandatedetail.taxable,
		mandatedetail.idlocation,
		mandatedetail.discount,
		mandatedetail.ninvoiced,
		mandatedetail.assetkind,
		mandatedetail.number,
		mandatedetail.npackage,
		mandatedetail.tax,
		m.exchangerate,
		ivakind.description as ivakind
	from (
		mandatedetail
		JOIN mandatekind					WITH (NOLOCK)	ON mandatekind.idmankind = mandatedetail.idmankind
		LEFT OUTER JOIN inventorytree		WITH (NOLOCK)	ON inventorytree.idinv = mandatedetail.idinv
		JOIN mandate					m	WITH (NOLOCK)	ON m.yman = mandatedetail.yman AND m.nman = mandatedetail.nman AND m.idmankind = mandatedetail.idmankind
		LEFT OUTER JOIN manager				WITH (NOLOCK)	ON manager.idman = m.idman
		LEFT OUTER JOIN ivakind				WITH (NOLOCK)	ON ivakind.idivakind = mandatedetail.idivakind
	) 
) as md ON dd.idmankind = md.idmankind and dd.yman = md.yman and dd.nman = md.nman and dd.manrownum = md.rownum

left outer join
(
	select
		list.idlist,
		list.intcode,
		listclass.codelistclass,
		listclass.title
	from list						WITH (NOLOCK)
	JOIN listclass					WITH (NOLOCK) ON list.idlistclass = listclass.idlistclass
) l on dd.idlist = l.idlist 

left outer join
(
	select l4.idlocation , l1.description as città, l2.description as Edificio, l4.manager as Responsabile,
	l4.locationcode,
	l4.description as location
	from location l1 
	join location l2 on l1.idlocation = l2.paridlocation
	join location l3 on l2.idlocation = l3.paridlocation
	join locationview l4 on l3.idlocation = l4.paridlocation
) ub on ub.idlocation = md.idlocation

where 
e.yentry  = @yentry 
and e.idepexp is not null 
AND a.idaccountkind = '0005'
AND isnull(dd.taxable,0) <>0 
GROUP BY e.yentry, e.nentry, dd.rownum, md.taxable, md.npackage, md.exchangerate, md.discount,
a.codeacc, a.title, r.idreg, r.title, u.codeupb, dd.idinvkind, dd.invoicekind, dd.codeinvkind, dd.yinv, dd.ninv, dd.adate, dd.idreg, dd.registry,
dd.description, dd.rownum, dd.detaildescription, dd.number, dd.discount, dd.exchangerate, dd.ivakind, dd.rate,l.intcode, l.codelistclass, l.title,
md.idmankind, md.mankind, md.yman, md.nman, md.rownum, md.idgroup, md.manager, md.codeinv, md.inventorytree, md.detaildescription, md.ivakind,
md.tax, md.assetkind, md.number, ub.locationcode, ub.location, ub.città, ub.Edificio, ub.Responsabile

ORDER BY e.yentry, e.nentry, dd.rownum

END