/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

if exists (select * from dbo.sysobjects where id = object_id(N'[exp_asset_all]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [exp_asset_all]
GO
 
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO
-- --
--SETUSER 'amministrazione'
CREATE    PROCEDURE  [exp_asset_all]
(
	@idinventory int,
	@dainventario int,
	@ainventario int,
	@level int,
	@codiceubicazione varchar(50),
	@idsorkind int
)
AS BEGIN

CREATE TABLE #elenco
(	
	Tipo_Cespite char(1),
	Codice_inventario varchar(80), --codeinventory,
	Descrizione_Inventario varchar(150), --inventory,
	Descrizione_Tipo_inventario varchar(150), 
	Descrizione_Ente_Inventariale varchar(150), --inventoryagency,
	Numero_Inventario int, --ninventory,	
	Numero_Cespite int,
	Numero_Parte int, 
	Codice_Classificazione_Inventariale_precedente varchar(80), --codeinventory_prev,
	Inventario_precedente_il_trasferimento varchar(150), --inventory_prev,
	Numero_Inventario_precedente_il_trasferimento int, --ninventory_prev,
	Numero_Cespite_precedente_il_trasferimento_di_inventario int, --idasset_prev
	Numero_Parte_precedente_il_trasferimento_di_inventario int, --idpiece_prev
	--ID_Inventario_precedente_il_trasferimento int, --idinventory_prev,	
	Codice_Classificazione_Inventariale_successiva varchar(80), --codeinventory_next,
	Inventario_successivo_il_trasferimento varchar(150), --inventory_next,
	Numero_Inventario_successivo_il_trasferimento int, --ninventory_next,
	Numero_Cespite_successivo_al_trasferimento_di_inventario int, --idasset_next,
	Numero_Parte_successivo_al_trasferimento_di_inventario int, --idpiece_next,
	--ID_Inventario_successivo_il_trasferimento int, --idinventory_next,	
	Anno_Esistenza int, --yearstart,
	Classificazione_Inventariale_livello_1 varchar(150), --inventorytree_lev1,
	Codice_Classificazione_Inventariale varchar(150), --codeinv,	
	Classificazione_Inventariale varchar(150), --inventorytree,
	Descrizione varchar(150), --description,
	Imponibile decimal(19,2), --taxable,
	Aliquota_IVA float, --taxrate,
	IVA_Totale decimal(19,2), --tax,
	IVA_Detraibile decimal(19,2), --abatable,
	IVA_Indetraibile decimal(19,2), --unabatable,
	Sconto float, --discount,
	Costo_iniziale decimal(19,2), --cost,
	Descrizione_Causale_di_Carico varchar(150), --loadmotive,
	Cedente varchar(150),
	Data_Acquisizione DateTime, --lifestart,
	Cespite_Posseduto char(1), --loadkind,
	Pronto_per_il_Carico char(1), --flagload,		
	--ID_Buono_Carico int, --idassetload,
	Tipo_Buono_Carico varchar(150), --idassetloadkind,
	Anno_Buono_Carico int, --yassetload,
	Numero_Buono_Carico int, --nassetload,
	Responsabile varchar(150), --currmanager,
	--ID_Ubicazione int, --idcurrlocation,
	Codice_CLass_Ubicazione varchar(50),
	Class_Ubicazione varchar(150),
	Livello_Ubicazione varchar(80),
	Codice_Ubicazione varchar(150), --currlocationcode,
	Ubicazione varchar(150), --currlocation,
	Livello_Ubicazione_1 varchar(80),
	--Codice_Ubicazione_1 varchar(150), --currlocationcode,
	Ubicazione_1 varchar(150),
	Livello_Ubicazione_2 varchar(80),
	--Codice_Ubicazione_2 varchar(150), --currlocationcode,
	Ubicazione_2 varchar(150),
	Livello_Ubicazione_3 varchar(80),
	--Codice_Ubicazione_3 varchar(150), --currlocationcode,
	Ubicazione_3 varchar(150),
	--Citta varchar(100),
	--Edificio varchar(200),
	Consegnatario_Corrente varchar(200), --idcurrman,	
	Subconsegnatario_Corrente int, --idcurrsubman,
	Subconsegnatario varchar(150), --currsubmanager,
	Codice_UPB varchar(150), --codeupb,
	UPB varchar(150), --upb,
	Pronto_per_lo_Scarico char(1), --flagunload,
	Tipo_Buono_di_Scarico varchar(150), --idassetunloadkind,
	Anno_Buono_di_Scarico int, --yassetunload,
	Numero_Buono_di_Scarico int, --nassetunload,
	Note_Testuali varchar(500), --txt,
	Codice_Listino varchar(150), --intcode,
	Listino varchar(150), --list,
	Tipo_Contratto_Passivo varchar(100),
	Anno_Contratto_Passivo int,
	Numero_Contratto_Passivo int,
	Numero_Riga_Contratto_passivo int,
	Tipo_Fattura varchar(100), --idinvkind,
    Anno_Fattura int, --yinv,
    Numero_Fattura int, --ninv,
    Numero_Riga_Fattura int, --invrownum
	Numero_Carico int, --nassetacquire,	
	--ID_Classificazione_Inventariale int, --idinv,
	--ID_Classificazione_Inventariale_livello_1 int, --idinv_lev1,
	--Codice_Classificazione_livello_1 varchar(150), --codeinv_lev1,
	--ID_Causale_di_Carico int, --idloadmot,	
	Descrizione_Buono_di_carico varchar(150), --loaddescription,
	Data_ratifica DateTime, --ratificationdate, 
	Data_Buono_carico DateTime, --loaddate,
	Doc_Buono_carico varchar(35), --loaddoc,
	Data_doc_Buono_carico DateTime, --loaddocdate,
	Provv_Buono_carico varchar(150), --loadenactment,
	Data_Provv_Buono_carico DateTime, --loadenactmentdate,
	Data_stampa_Buono_carico DateTime, --loadprintdate,	
	QuantitÃ  int, --number,	
	Ammortamenti_Rivalutazioni decimal(19,2), --revals,
	Ammortamenti_pendenti decimal(19,2), --revals_pending,
	Diminuzioni_di_valore decimal(19,2), --subtractions,
	Valore_attuale decimal(19,2), --currentvalue,
	Prezzo_acquisto decimal(19,2), --total,
	--ID_Buono_di_Scarico int, --idassetunload,
	Data_scarico DateTime, --unloaddate,
	--ID_Causale_di_Scarico int, --idunloadmot,
	Causale_scarico varchar(150), --unloadmotive,
	Descrizione_Buono_di_scarico varchar(150), --unloaddescription,
	Doc_scarico varchar(150), --unloaddoc,
	Data_doc_scarico DateTime, --unloaddocdate,
	Provv_scarico varchar(150), --unloadenactment,
	Data_Provv_scarico DateTime, --unloadenactmentdate,
	Data_ratifica_scarico DateTime, --unloadratificationdate,
	Cessionario varchar(150), --unloadregistry,	
	Flag_su_Scarico varchar(50), --flag,	
	Pronto_per_il_trasferimento char(1), --flagtransf,
	Trasmesso char(1), --transmitted,	
	Attributi_di_Sicurezza_1 varchar(150), --idsor01,
	Attributi_di_Sicurezza_2 varchar(150), --idsor02,
	Attributi_di_Sicurezza_3 varchar(150), --idsor03,
	Attributi_di_Sicurezza_4 varchar(150), --idsor04,
	Attributi_di_Sicurezza_5 varchar(150), --idsor05,
	Scaricato char(1), --is_unloaded,
	In_carico char(1), --is_loaded,
	--ID_UPB varchar(150), --idupb
	cu varchar(64),
	ct DateTime,
	lu varchar(64),
	lt DateTime,
	--ID_Ente_Inventariale int, --idinventoryagency,	
	--ID_Listino int, --idlist,
	--ID_Tipo_Ammortamento int, --idinventoryamortization,
	Percentuale_Ammortamento float, --amortizationquota,
	Valore_Iniziale_Storico_ai_fini_Ammortamento decimal(19,2), --historical,
	Accessorio char(1), --ispiece,
	Tipo_Inventario_Visibile char(1), --inventorykindvisible,
	RFID varchar(100)
)

INSERT INTO #elenco
(
	Tipo_Cespite,
	Codice_inventario, --codeinventory,
	Descrizione_Inventario, --inventory,
	Descrizione_Tipo_inventario,
	Descrizione_Ente_Inventariale, --inventoryagency,
	Numero_Inventario, --ninventory,	
	Numero_Cespite,
	Numero_Parte, 
	Codice_Classificazione_Inventariale_precedente, --codeinventory_prev,
	Inventario_precedente_il_trasferimento, --inventory_prev,
	Numero_Inventario_precedente_il_trasferimento, --ninventory_prev,
	Numero_Cespite_precedente_il_trasferimento_di_inventario, --idasset_prev
	Numero_Parte_precedente_il_trasferimento_di_inventario, --idpiece_prev
	--ID_Inventario_precedente_il_trasferimento, --idinventory_prev,	
	Codice_Classificazione_Inventariale_successiva, --codeinventory_next,
	Inventario_successivo_il_trasferimento, --inventory_next,
	Numero_Inventario_successivo_il_trasferimento, --ninventory_next,
	Numero_Cespite_successivo_al_trasferimento_di_inventario, --idasset_next,
	Numero_Parte_successivo_al_trasferimento_di_inventario, --idpiece_next,
	--ID_Inventario_successivo_il_trasferimento, --idinventory_next,	
	Anno_Esistenza, --yearstart,
	Classificazione_Inventariale_livello_1, --inventorytree_lev1,
	Codice_Classificazione_Inventariale, --codeinv,
	Classificazione_Inventariale, --inventorytree,
	Descrizione, --description,
	Imponibile, --taxable,
	Aliquota_IVA, --taxrate,
	IVA_Totale, --tax,
	IVA_Detraibile, --abatable,
	IVA_Indetraibile, --unabatable,
	Sconto, --discount,
	Costo_iniziale, --cost,
	Descrizione_Causale_di_Carico, --loadmotive,
	Cedente,
	Data_Acquisizione, --lifestart,	
	Cespite_Posseduto, --loadkind,
	Pronto_per_il_Carico, --flagload,
	--ID_Inventario, --idinventory,			
	--ID_Buono_Carico, --idassetload,
	Tipo_Buono_Carico, --idassetloadkind,
	Anno_Buono_Carico, --yassetload,
	Numero_Buono_Carico, --nassetload,
	Responsabile, --currmanager,	
	--ID_Ubicazione, --idcurrlocation,
	Codice_CLass_Ubicazione,
	Class_Ubicazione,
	Livello_Ubicazione,
	Codice_Ubicazione, --currlocationcode,
	Ubicazione, --currlocation,
	Livello_Ubicazione_3,
	--Codice_Ubicazione_3, --currlocationcode,
	Ubicazione_3,
	Livello_Ubicazione_2,
	--Codice_Ubicazione_2, --currlocationcode,
	Ubicazione_2,
	Livello_Ubicazione_1,
	--Codice_Ubicazione_1, --currlocationcode,
	Ubicazione_1,	
	Consegnatario_Corrente, --idcurrman,
	Subconsegnatario_Corrente, --idcurrsubman,
	Subconsegnatario, --currsubmanager,
	Codice_UPB, --codeupb,
	UPB, --upb,
	Pronto_per_lo_Scarico, --flagunload,
	Tipo_Buono_di_Scarico, --idassetunloadkind,
	Anno_Buono_di_Scarico, --yassetunload,
	Numero_Buono_di_Scarico, --nassetunload,
	Note_Testuali, --txt,
	Codice_Listino, --intcode,
	Listino, --list,
	Tipo_Contratto_Passivo,
	Anno_Contratto_Passivo,
	Numero_Contratto_Passivo,
	Numero_Riga_Contratto_passivo,
	Tipo_Fattura, --idinvkind,
    Anno_Fattura, --yinv,
    Numero_Fattura, --ninv,
    Numero_Riga_Fattura, --invrownum
	Numero_Carico, --nassetacquire,	
	--ID_Classificazione_Inventariale, --idinv,	
	--ID_Classificazione_Inventariale_livello_1, --idinv_lev1,
	--Codice_Classificazione_livello_1, --codeinv_lev1,			
	--ID_Causale_di_Carico, --idloadmot,	
	Descrizione_Buono_di_carico, --loaddescription,
	Data_ratifica, --ratificationdate, 
	Data_Buono_carico, --loaddate,
	Doc_Buono_carico, --loaddoc,
	Data_doc_Buono_carico, --loaddocdate,
	Provv_Buono_carico, --loadenactment,
	Data_Provv_Buono_carico, --loadenactmentdate,
	Data_stampa_Buono_carico, --loadprintdate,	
	QuantitÃ , --number,
	Ammortamenti_Rivalutazioni, --revals,
	Ammortamenti_pendenti, --revals_pending,
	Diminuzioni_di_valore, --subtractions,
	Valore_attuale, --currentvalue,
	Prezzo_acquisto, --total,
	--ID_Buono_di_Scarico, --idassetunload,	
	Data_scarico, --unloaddate,
	--ID_Causale_di_Scarico, --idunloadmot,
	Causale_scarico, --unloadmotive,
	Descrizione_Buono_di_scarico, --unloaddescription,
	Doc_scarico, --unloaddoc,
	Data_doc_scarico, --unloaddocdate,
	Provv_scarico, --unloadenactment,
	Data_Provv_scarico, --unloadenactmentdate,
	Data_ratifica_scarico, --unloadratificationdate,
	Cessionario, --unloadregistry,	
	Flag_su_Scarico, --flag,	
	Pronto_per_il_trasferimento, --flagtransf,
	Trasmesso, --transmitted
	Attributi_di_Sicurezza_1, --idsor01,
	Attributi_di_Sicurezza_2, --idsor02,
	Attributi_di_Sicurezza_3, --idsor03,
	Attributi_di_Sicurezza_4, --idsor04,
	Attributi_di_Sicurezza_5, --idsor05,
	Scaricato, --is_unloaded,
	In_carico, --is_loaded,
	--ID_UPB, --idupb,
	cu,
	ct,
	lu,
	lt,
	--ID_Ente_Inventariale, --idinventoryagency,	
	--ID_Listino, --idlist,	
	--ID_Tipo_Ammortamento, --idinventoryamortization,
	Percentuale_Ammortamento, --amortizationquota,
	Valore_Iniziale_Storico_ai_fini_Ammortamento, --historical,
	Accessorio, --ispiece,
	Tipo_Inventario_Visibile, --inventorykindvisible,
	RFID
)
SELECT
	CASE 
		WHEN (assetacquire.flag & 2) = 0 THEN 'C'
		ELSE 'A'
	END,
	inventory.codeinventory,
	inventory.description,
	inventorykind.description,
	inventoryagency.description,
	assetmain.ninventory,	
	asset.idasset,
	asset.idpiece,	
	inventory_prev.codeinventory,
	inventory_prev.description,
	asset_prev.ninventory,
	asset.idasset_prev,
	asset.idpiece_prev,
	--asset_prev.idinventory,
	inventory_next.codeinventory,
	inventory_next.description,
	asset_next.ninventory,
	asset_next.idasset,
	asset_next.idpiece,
	--asset_next.idinventory,
	year(asset.lifestart),
	inventorytree1.description,
	inventorytree.codeinv,
	inventorytree.description,
	assetacquire.description,
	assetacquire.taxable,
	assetacquire.taxrate,
	ROUND(ISNULL(assetacquire.tax,0) / assetacquire.number,2),
	ROUND(ISNULL(assetacquire.abatable,0) / assetacquire.number,2) ,
	ROUND((ISNULL(assetacquire.tax,0)-ISNULL(assetacquire.abatable,0)) / assetacquire.number,2),
	assetacquire.discount,
	-- Costo
	CASE	
			----------------------------------------------------------------------------------
			----------------- Considera i buoni di carico cespiti precedenti al 2005   -------
			----------------------------------------------------------------------------------
			WHEN (inventorykind.flag & 1 <> 0) 
			THEN
			CONVERT(decimal(19,2),ROUND(
				ROUND(ISNULL(assetacquire.taxable, 0)
				* (1 - CONVERT(decimal(19,6),ISNULL(assetacquire.discount, 0))),2)
				+ ROUND(ISNULL(assetacquire.tax,0) / assetacquire.number,2)
				- ROUND(ISNULL(assetacquire.abatable,0) / assetacquire.number,2) 
			,2))
			ELSE
			CONVERT(decimal(19,2),ROUND(
			ROUND(ISNULL(assetacquire.taxable, 0),2)
			+ ROUND(ISNULL(assetacquire.tax,0) / assetacquire.number,2)
			- ROUND(ISNULL(assetacquire.abatable,0) / assetacquire.number,2) 
			,2))		 		
	END,
	assetloadmotive.description,
	assetloadreg.title,
	asset.lifestart,	
	CASE
		WHEN assetacquire.flag & 2 <> 0 THEN 'S'
		ELSE 'N'
	END,
	CASE
		WHEN assetacquire.flag & 1 <> 0 THEN 'S'
		ELSE 'N'
	END,
	--asset.idinventory,		
	--assetacquire.idassetload,
	assetloadkind.description, --idassetloadkind
	assetload.yassetload,
	assetload.nassetload,
	CM.title,
	--CL.idlocation,
	S.sortcode as 'Codice_CLass_Ubicazione',
	S.description as 'Class_Ubicazione',
	LL.description,
	CL.locationcode,
	CL.description,
	LL3.description,
	--CL3.locationcode,
	CL3.description,
	LL2.description,
	--CL2.locationcode,
	CL2.description,
	LL1.description,
	--CL1.locationcode,
	CL1.description,
	CM.idman,
	-- Consegnatario del cespite
	CMsub.idman,
	CMsub.title,
	upb.codeupb,
	upb.title,
	CASE
		WHEN asset.flag & 1 <> 0 THEN 'S'
		ELSE 'N'
	END,
	assetunload.description,
	assetunload.yassetunload,
	assetunload.nassetunload,
	asset.txt,
	list.intcode,
	list.description,
	mandatekind.description,
	assetacquire.yman,
	assetacquire.nman,
	assetacquire.rownum,
	invoicekind.description,
    assetacquire.yinv,
    assetacquire.ninv,
    assetacquire.invrownum,		
	--assetacquire.idinv,
	asset.nassetacquire,	
	--inventorytree1.idinv,
	--inventorytree1.codeinv,		
	--assetacquire.idmot,	
	assetload.description,
	assetload.ratificationdate,
	assetload.adate,
	assetload.doc,
	assetload.docdate,
	assetload.enactment,
	assetload.enactmentdate,
	assetload.printdate,
	assetacquire.number,	
	--revals applied
	ISNULL(
				(SELECT SUM(CONVERT(decimal(19,2),ROUND(
					ISNULL(assetamortization.assetvalue, 0.0) *
					ISNULL(assetamortization.amortizationquota,0.0)
					,2)))
				FROM  assetamortization   (NOLOCK) 
				/*JOIN  inventoryamortization
				 ON    assetamortization.idinventoryamortization = 
				      inventoryamortization.idinventoryamortization
				*/
				LEFT OUTER JOIN assetunload AA (NOLOCK) 	ON  assetamortization.idassetunload = AA.idassetunload
				LEFT OUTER JOIN assetload AL  (NOLOCK) 		ON  assetamortization.idassetload = AL.idassetload
				WHERE assetamortization.idasset = asset.idasset
				AND   assetamortization.idpiece = asset.idpiece
				AND (
				( (ISNULL(assetamortization.amortizationquota,0)>0) AND
					( ((assetamortization.flag & 1 = 0) 	AND assetamortization.adate is not null) 
					  OR 
					  ((assetamortization.flag & 1 <> 0)    AND AL.adate is not null)
					)
			 	)
				OR 			            
				( (ISNULL(assetamortization.amortizationquota,0)<0) AND
					( ((assetamortization.flag & 1 = 0) 	AND assetamortization.adate is not null) 
					  OR 
					  ((assetamortization.flag & 1 <> 0)    AND AA.adate is not null)
					)
			 	)
				)
				--AND   (inventoryamortization.flag & 2 <> 0)
		),0),	
		--revals pending
	ISNULL(
				(SELECT SUM(CONVERT(decimal(19,2),ROUND(
					ISNULL(assetamortization.assetvalue, 0.0) *
					ISNULL(assetamortization.amortizationquota,0.0)
					,2)))
				FROM  assetamortization (NOLOCK) 
				/*JOIN  inventoryamortization
				ON    assetamortization.idinventoryamortization = 
				      inventoryamortization.idinventoryamortization
				*/
				LEFT OUTER JOIN assetunload AA  (NOLOCK) 	ON  assetamortization.idassetunload = AA.idassetunload
				LEFT OUTER JOIN assetload AL  (NOLOCK) 		ON  assetamortization.idassetload = AL.idassetload
				WHERE assetamortization.idasset = asset.idasset
				AND   assetamortization.idpiece = asset.idpiece
				AND (
				( (ISNULL(assetamortization.amortizationquota,0)>0) AND
					( ((assetamortization.flag & 1 = 0) 	AND assetamortization.adate is  null) 
					  OR 
					  ((assetamortization.flag & 1 <> 0)    AND AL.adate is  null)
					)
			 	)
				OR 			            
				( (ISNULL(assetamortization.amortizationquota,0)<0) AND
					( ((assetamortization.flag & 1 = 0) 	AND assetamortization.adate is  null) 
					  OR 
					  ((assetamortization.flag & 1 <> 0)    AND AA.adate is  null)
					)
			 	)
				)				
				--AND   (inventoryamortization.flag & 2 <> 0)
				)
			,0),
	--subtractions
			CASE	WHEN asset.idpiece=1 THEN
	ISNULL(
			(SELECT SUM(CONVERT(decimal(19,2),ROUND(ISNULL(B.taxable, 0)
			* (1 - CONVERT(decimal(19,6),ISNULL(B.discount, 0))),2)
			+ ROUND(ISNULL(B.tax,0) / B.number,2)
			- ROUND(ISNULL(B.abatable,0) / B.number,2)))
			 from assetacquire B
				join asset A
				on B.nassetacquire = A.nassetacquire
				where A.idasset = asset.idasset
				and   A.idpiece >1
				and   A.idassetunload IS NOT NULL
				and  ((B.flag & 1 <> 1) AND (B.flag & 2 <> 0)))
			,0)
	ELSE 0
	END,
	
	--valore iniziale cespiti
   CASE				
			WHEN (inventorykind.flag & 1 <> 0) 
			THEN
			CONVERT(decimal(19,2),ROUND(
				ROUND(ISNULL(assetacquire.taxable, 0)
				* (1 - CONVERT(decimal(19,6),ISNULL(assetacquire.discount, 0))),2)
				+ ROUND(ISNULL(assetacquire.tax,0) / assetacquire.number,2)
				- ROUND(ISNULL(assetacquire.abatable,0) / assetacquire.number,2) 
			,2))
			ELSE
			CONVERT(decimal(19,2),ROUND(
			ROUND(ISNULL(assetacquire.taxable, 0),2)
			+ ROUND(ISNULL(assetacquire.tax,0) / assetacquire.number,2)
			- ROUND(ISNULL(assetacquire.abatable,0) / assetacquire.number,2) 
			,2))		 
		
	END
	--ammortamenti e rivalutazioni ufficiali	
	+
	ISNULL(
				(SELECT SUM(CONVERT(decimal(19,2),ROUND(
					ISNULL(assetamortization.assetvalue, 0.0) *
					ISNULL(assetamortization.amortizationquota,0.0)
					,2)))
				FROM  assetamortization  (NOLOCK) 
				/*JOIN  inventoryamortization
				ON    assetamortization.idinventoryamortization = 
				      inventoryamortization.idinventoryamortization
				*/
				LEFT OUTER JOIN assetunload  (NOLOCK)  AA	ON  assetamortization.idassetunload = AA.idassetunload
				LEFT OUTER JOIN assetload  (NOLOCK) AL		ON  assetamortization.idassetload = AL.idassetload
				WHERE assetamortization.idasset = asset.idasset
				AND   assetamortization.idpiece = asset.idpiece
				AND (
					( (ISNULL(assetamortization.amortizationquota,0)>0) AND
					( ((assetamortization.flag & 1 = 0) 	AND assetamortization.adate is not null) 
					  OR 
					  ((assetamortization.flag & 1 <> 0)    AND AL.adate is not null)
					))
					OR 
			            
					( (ISNULL(assetamortization.amortizationquota,0)<0) AND
					( ((assetamortization.flag & 1 = 0) 	AND assetamortization.adate is not null) 
					  OR 
					  ((assetamortization.flag & 1 <> 0)    AND AA.adate is not null)
					))

					)
				--AND   (inventoryamortization.flag & 2 <> 0)
				)
		,0)
	------------------------------------------------------------------------------------------
	-- Sottrae gli accessori scaricati caricati come posseduti e giÃ  inclusi nel cespite -----
	------------------------------------------------------------------------------------------	
	-
	CASE	WHEN asset.idpiece=1 THEN
	ISNULL(
			(SELECT SUM(CONVERT(decimal(19,2),ROUND(ISNULL(B.taxable, 0)
			* (1 - CONVERT(decimal(19,6),ISNULL(B.discount, 0))),2)
			+ ROUND(ISNULL(B.tax,0) / B.number,2)
			- ROUND(ISNULL(B.abatable,0) / B.number,2)))
			 from assetacquire B  (NOLOCK) 
				join asset A (NOLOCK) 	on B.nassetacquire = A.nassetacquire
				where A.idasset = asset.idasset
				and   A.idpiece >1
				and   A.idassetunload IS NOT NULL
				and  ((B.flag & 1 = 0) AND (B.flag & 2 <> 0)))
			,0)
	ELSE 0
	END,
	
	
	CONVERT(decimal(19,2),ROUND(
				ISNULL(assetacquire.taxable,0)
				*(1-ISNULL(assetacquire.discount,0))
				+ round(ISNULL(assetacquire.tax,0),2)/assetacquire.number
				,2)
		),
	--asset.idassetunload,	
	assetunload.adate,
	--assetunload.idmot,
	assetunloadmotive.description,
	assetunload.description,
	assetunload.doc,
	assetunload.docdate,
	assetunload.enactment,
	assetunload.enactmentdate,
	assetunload.ratificationdate,
	assetunloadreg.title,	
	CASE
		WHEN asset.flag & 1 <> 0 THEN 'Inserisci in buono di scarico'
		WHEN asset.flag & 2 <> 0 THEN 'Pronto per lo scarico'
		WHEN asset.flag & 4 <> 0 THEN 'Pronto per il trasferimento di inventario'
		ELSE ''
	END,
	
	CASE
		WHEN asset.flag & 4 <> 0 THEN 'S'
		ELSE 'N'
	END,
	asset.transmitted,
	CASE
		WHEN assetloadkind.idsor01 is not null THEN (select sorting.description from sorting where idsor = assetloadkind.idsor01)
		WHEN inventory.idsor01 is not null THEN (select sorting.description from sorting where idsor = inventory.idsor01)
		WHEN upb.idsor01 is not null THEN (select sorting.description from sorting where idsor = upb.idsor01)
		ELSE ''
	END,
	CASE
		WHEN assetloadkind.idsor02 is not null THEN (select sorting.description from sorting where idsor = assetloadkind.idsor02)
		WHEN inventory.idsor02 is not null THEN (select sorting.description from sorting where idsor = inventory.idsor02)
		WHEN upb.idsor02 is not null THEN (select sorting.description from sorting where idsor = upb.idsor02)
		ELSE ''
	END,
	CASE
		WHEN assetloadkind.idsor03 is not null THEN (select sorting.description from sorting where idsor = assetloadkind.idsor03)
		WHEN inventory.idsor03 is not null THEN (select sorting.description from sorting where idsor = inventory.idsor03)
		WHEN upb.idsor03 is not null THEN (select sorting.description from sorting where idsor = upb.idsor03)
		ELSE ''
	END,
	CASE
		WHEN assetloadkind.idsor04 is not null THEN (select sorting.description from sorting where idsor = assetloadkind.idsor04)
		WHEN inventory.idsor04 is not null THEN (select sorting.description from sorting where idsor = inventory.idsor04)
		WHEN upb.idsor04 is not null THEN (select sorting.description from sorting where idsor = upb.idsor04)
		ELSE ''
	END,
	CASE
		WHEN assetloadkind.idsor05 is not null THEN (select sorting.description from sorting where idsor = assetloadkind.idsor05)
		WHEN inventory.idsor05 is not null THEN (select sorting.description from sorting where idsor = inventory.idsor05)
		WHEN upb.idsor05 is not null THEN (select sorting.description from sorting where idsor = upb.idsor05)
		ELSE ''
	END,
	CASE 
		when assetunload.adate IS NOT NULL or (asset.flag & 1 = 0)	THEN 'S'
		ELSE 'N'
	END,
	CASE 
		when assetload.ratificationdate IS NOT NULL or ((assetacquire.flag & 1 = 0) AND (assetacquire.flag & 2 <> 0)) THEN 'S'
		ELSE 'N'
	END,
	--assetacquire.idupb,	
	asset.cu,
	asset.ct,
	asset.lu,
	asset.lt,	
	--inventory.idinventoryagency,	
	--list.idlist,	
	--asset.idinventoryamortization,
	asset.amortizationquota,
	assetacquire.historicalvalue,
	CASE
		WHEN asset.idpiece>1 THEN 'S' else 'N' 
	END,	
	CASE	
		WHEN ((inventorykind.flag&2)=0) THEN 'S' else 'N' 
	END,
	assetmain.rfid
FROM asset (NOLOCK) 
JOIN asset (NOLOCK) AS assetmain					ON (asset.idasset=assetmain.idasset) 
JOIN assetacquire		(NOLOCK) 				ON assetacquire.nassetacquire = asset.nassetacquire
JOIN inventorytree		(NOLOCK) 				ON inventorytree.idinv = assetacquire.idinv
JOIN inventory			(NOLOCK) 				ON inventory.idinventory = asset.idinventory
JOIN inventoryagency	(NOLOCK) 				ON inventoryagency.idinventoryagency = inventory.idinventoryagency
JOIN inventorykind		(NOLOCK) 				ON inventory.idinventorykind= inventorykind.idinventorykind  
JOIN inventorytreelink	(NOLOCK) 				ON inventorytreelink.idchild = assetacquire.idinv
											AND inventorytreelink.nlevel=1		
JOIN inventorytree inventorytree1	(NOLOCK) 	ON inventorytree1.idinv = inventorytreelink.idparent
LEFT OUTER JOIN assetload			(NOLOCK) 	ON assetacquire.idassetload = assetload.idassetload
LEFT OUTER JOIN assetloadkind		(NOLOCK) 	ON assetloadkind.idassetloadkind = assetload.idassetloadkind
LEFT OUTER JOIN upb					(NOLOCK) 	ON upb.idupb = assetacquire.idupb
LEFT OUTER JOIN assetunload			(NOLOCK) 	ON asset.idassetunload = assetunload.idassetunload
LEFT OUTER JOIN asset asset_prev	(NOLOCK) 	ON asset.idasset_prev = asset_prev.idasset
											AND asset.idpiece_prev = asset_prev.idpiece
LEFT OUTER JOIN inventory inventory_prev		(NOLOCK) 	ON inventory_prev.idinventory = asset_prev.idinventory
LEFT OUTER JOIN asset asset_next				(NOLOCK) 	ON asset.idasset = asset_next.idasset_prev
															AND asset.idpiece = asset_next.idpiece_prev
LEFT OUTER JOIN inventory inventory_next		(NOLOCK) 	ON inventory_next.idinventory = asset_next.idinventory 
LEFT OUTER JOIN location		CL		(NOLOCK)  on CL.idlocation = assetmain.idcurrlocation
LEFT OUTER JOIN locationlevel   LL		(NOLOCK) ON LL.nlevel = CL.nlevel	
LEFT OUTER JOIN locationsorting LS		(NOLOCK)  on CL.idlocation = LS.idlocation
LEFT OUTER JOIN sorting S				(NOLOCK)  on S.idsor = LS.idsor
LEFT OUTER JOIN location		CL1		(NOLOCK)  on CL1.idlocation = CL.paridlocation
LEFT OUTER JOIN locationlevel   LL1		(NOLOCK) ON LL1.nlevel = CL1.nlevel
LEFT OUTER JOIN location		CL2		(NOLOCK)  on CL2.idlocation = CL1.paridlocation
LEFT OUTER JOIN locationlevel   LL2		(NOLOCK) ON LL2.nlevel = CL2.nlevel
LEFT OUTER JOIN location		CL3		(NOLOCK)  on CL3.idlocation = CL2.paridlocation
LEFT OUTER JOIN locationlevel   LL3		(NOLOCK) ON LL3.nlevel = CL3.nlevel 

LEFT OUTER JOIN manager CM				(NOLOCK)  ON CM.idman = assetmain.idcurrman
LEFT OUTER JOIN manager CMsub (NOLOCK)  ON CMsub.idman = assetmain.idcurrsubman
LEFT OUTER JOIN assetloadmotive			(NOLOCK) ON assetacquire.idmot = assetloadmotive.idmot
LEFT OUTER JOIN assetunloadmotive		(NOLOCK) ON assetunload.idmot = assetunloadmotive.idmot
LEFT OUTER JOIN registry assetunloadreg (NOLOCK) ON assetunload.idreg = assetunloadreg.idreg
LEFT OUTER JOIN registry assetloadreg	(NOLOCK) ON assetload.idreg = assetloadreg.idreg
LEFT OUTER JOIN list					(NOLOCK) ON assetacquire.idlist = list.idlist
left outer join invoicekind				(NOLOCK) ON assetacquire.idinvkind = invoicekind.idinvkind
left outer join mandatekind				(NOLOCK) ON assetacquire.idmankind = mandatekind.idmankind
WHERE (assetmain.idpiece = 1)
AND (asset.idinventory = @idinventory OR @idinventory is null)
AND (assetmain.ninventory >= @dainventario OR @dainventario is null)
AND (assetmain.ninventory <= @ainventario OR @ainventario is null)
AND (CL.nlevel >= @level OR @level IS NULL)
AND (CL.locationcode LIKE @codiceubicazione +'%' OR @codiceubicazione IS NULL)
and (S.idsorkind = @idsorkind OR @idsorkind is null OR @idsorkind = 0)
    


SELECT * FROM #elenco order by Codice_inventario, Numero_Inventario, Numero_Parte
END


