/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

--setuser'amministrazione'
if exists (select * from dbo.sysobjects where id = object_id(N'[exp_upb_pluriennale]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [exp_upb_pluriennale]
GO
 
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

-- exec exp_Upb_pluriennale '000100010086'

CREATE PROCEDURE exp_upb_pluriennale
@idupb varchar(36)='%'
AS BEGIN

	DECLARE @SnphaseMax int = (SELECT MAX(nphase) FROM Expensephase )
	DECLARE @EnphaseMax int = (SELECT MAX(nphase) FROM Incomephase );

	WITH ID_by_exp AS (
    -- 1) prendo solo i dettagli fattura collegati alla spesa (E.idexp)
    --    e tengo le chiavi necessarie per arrivare ai deferred (IDDF) e all'invoice (IDF)
    SELECT
        E.idexp,
        ID.idinvkind, ID.yinv, ID.ninv, ID.rownum
    FROM expense  E
    JOIN invoicedetail ID
      ON (ID.idexp_taxable = E.idexp OR ID.idexp_iva = E.idexp)
	),
	ID_by_inc AS (
	 SELECT
        I.idinc,
        ID.idinvkind, ID.yinv, ID.ninv, ID.rownum
    FROM income  I
    JOIN invoicedetail ID
      ON (ID.idinc_taxable = I.idinc OR ID.idinc_iva = I.idinc)
	),
  IVA_by_exp AS (
    -- 2) calcolo IVA Liquidata SOLO sui dettagli (ID.rownum) della spesa
    SELECT
        x.idexp,
        SUM(IDDF.ivatotalpayed) AS IVA_Liquidata
    FROM ID_by_exp x
    JOIN invoicedetaildeferred IDDF
      ON IDDF.idinvkind = x.idinvkind
     AND IDDF.yinv      = x.yinv
     AND IDDF.ninv      = x.ninv
     AND IDDF.rownum    = x.rownum
    GROUP BY x.idexp
),
 IVA_by_inc AS (
    -- 2) calcolo IVA Liquidata SOLO sui dettagli (ID.rownum) della fattura di vendita
    SELECT
        x.idinc,
        SUM(IDDF.ivatotalpayed) AS IVA_Liquidata
    FROM ID_by_inc x
    JOIN invoicedetaildeferred IDDF
      ON IDDF.idinvkind = x.idinvkind
     AND IDDF.yinv      = x.yinv
     AND IDDF.ninv      = x.ninv
     AND IDDF.rownum    = x.rownum
    GROUP BY x.idinc
),
IVAPAY_by_exp AS (
    -- 3) risalgo alla liquidazione IVA e al mandato versamento,
    --    sempre partendo SOLO dai dettagli collegati alla spesa
    SELECT
        x.idexp,
        MAX(IP.nivapay) AS Numero_Liq_Iva,
        MIN(IP.[start]) AS Data_Inizio_Liq_Iva,
        MAX(IP.[stop])  AS Data_Fine_Liq_Iva,
        MAX(P.npay)     AS Mandato_Versamento_Iva,
        MAX(P.adate)    AS Data_Mandato_Versamento_Iva
    FROM ID_by_exp x
    LEFT JOIN invoicedetaildeferred IDF
      ON IDF.idinvkind = x.idinvkind
     AND IDF.yinv      = x.yinv
     AND IDF.ninv      = x.ninv
	 AND IDF.rownum     = x.rownum
    LEFT JOIN ivapay IP
      ON IP.yivapay = IDF.yivapay
     AND IP.nivapay = IDF.nivapay
    LEFT JOIN ivapayexpenseview IE
      ON IE.yivapay = IP.yivapay
     AND IE.nivapay = IP.nivapay
     AND IE.nphase  = 2
    LEFT JOIN expense E3
      ON IE.idexp = E3.parentidexp
    LEFT JOIN expenselast EL3
      ON EL3.idexp = E3.idexp
    LEFT JOIN payment P
      ON EL3.kpay = P.kpay
    GROUP BY x.idexp
),
IVAPAY_by_inc AS (
    -- 3) risalgo alla liquidazione IVA e al mandato versamento,
    --    sempre partendo SOLO dai dettagli collegati alla spesa
    SELECT
        x.idinc,
        MAX(IP.nivapay) AS Numero_Liq_Iva,
        MIN(IP.[start]) AS Data_Inizio_Liq_Iva,
        MAX(IP.[stop])  AS Data_Fine_Liq_Iva,
        MAX(P.npay)     AS Mandato_Versamento_Iva,
        MAX(P.adate)    AS Data_Mandato_Versamento_Iva
    FROM ID_by_inc x
    LEFT JOIN invoicedetaildeferred IDF
      ON IDF.idinvkind = x.idinvkind
     AND IDF.yinv      = x.yinv
     AND IDF.ninv      = x.ninv
	 AND IDF.rownum    = x.rownum
    LEFT JOIN ivapay IP
      ON IP.yivapay = IDF.yivapay
     AND IP.nivapay = IDF.nivapay
    LEFT JOIN ivapayexpenseview IE
      ON IE.yivapay = IP.yivapay
     AND IE.nivapay = IP.nivapay
     AND IE.nphase  = 2
    LEFT JOIN expense E3
      ON IE.idexp = E3.parentidexp
    LEFT JOIN expenselast EL3
      ON EL3.idexp = E3.idexp
    LEFT JOIN payment P
      ON EL3.kpay = P.kpay
    GROUP BY x.idinc
)
SELECT
    E.phase      AS [Fase],
    E.ymov       AS [Eserc.Mov.],
    E.nmov       AS [Num.Mov.],
    E.codefin    AS [Voce Bil.],
    E.finance    AS [Denom. Bil.],
    E.codeupb    AS [Cod. U.P.B.],
    E.upb        AS [U.P.B.],
    E.registry   AS [Percipiente],
    E.p_iva      AS [Partita iva],
    E.cf         AS [Codice Fiscale],
    E.manager    AS [Responsabile],
    E.doc        AS [Num. Documento],
    E.docdate    AS [Data Documento],
    CONCAT('Mandato ', CONVERT(varchar(10), E.ypay)) AS [Eserc.Ordinativo],
    CONCAT('Mandato ', CONVERT(varchar(10), E.npay)) AS [Num.Ordinativo],
    E.paymentadate AS [Data Cont. Ordinativo],
    CONCAT('Trasmissione Mandati ', CONVERT(varchar(10), E.npaymenttransmission)) AS [Distinta Trasmissione],
    E.transmissiondate AS [Data Trasmissione],
    E.description AS [Descrizione],
    E.curramount  AS [Importo Lordo],
    E.netamount   AS [Importo Netto],

    IVA.IVA_Liquidata AS [IVA Liquidata],
    PAY.Numero_Liq_Iva AS [Numero Liq. Iva],
    PAY.Data_Inizio_Liq_Iva AS [Data Inizio Liq. Iva],
    PAY.Data_Fine_Liq_Iva  AS [Data Fine Liq. Iva],
    PAY.Mandato_Versamento_Iva AS [Mandato Versamento Iva],
    PAY.Data_Mandato_Versamento_Iva AS [Data Mandato Versamento Iva],

    E.iban      AS [Iban Pagamento],
    E.biccode   AS [Codice BIC/SWIFT],
    E.service   AS [Prestazione],
    E.servicestart AS [Data Inizio Prest.],
    E.servicestop  AS [Data Fine Prest.]
FROM expenseview E
LEFT JOIN IVA_by_exp IVA
  ON IVA.idexp = E.idexp
LEFT JOIN IVAPAY_by_exp PAY
  ON PAY.idexp = E.idexp 
  	WHERE E.idupb = @idupb 
		AND E.nphase = (@SnphaseMax)
		AND E.curramount > 0
 
 UNION ALL
 SELECT
    E.phase      AS [Fase],
    E.ymov       AS [Eserc.Mov.],
    E.nmov       AS [Num.Mov.],
    E.codefin    AS [Voce Bil.],
    E.finance    AS [Denom. Bil.],
    E.codeupb    AS [Cod. U.P.B.],
    E.upb        AS [U.P.B.],
    E.registry   AS [Percipiente],
    E.p_iva      AS [Partita iva],
    E.cf         AS [Codice Fiscale],
    E.manager    AS [Responsabile],
    E.doc        AS [Num. Documento],
    E.docdate    AS [Data Documento],
    CONCAT('Reversale ', CONVERT(varchar(10), E.ypro)) AS [Eserc.Ordinativo],
    CONCAT('Reversale ', CONVERT(varchar(10), E.npro)) AS [Num.Ordinativo],
    E.adate AS [Data Cont.],
    CONCAT('Trasmissione Reversale ', CONVERT(varchar(10), E.nproceedstransmission)) AS [Distinta Trasmissione],
    E.transmissiondate AS [Data Trasmissione],
    E.description AS [Descrizione],
    E.curramount  AS [Importo Lordo],
    NULL   AS [Importo Netto],

    IVA.IVA_Liquidata AS [IVA Liquidata],

    PAY.Numero_Liq_Iva AS [Numero Liq. Iva],
    PAY.Data_Inizio_Liq_Iva AS [Data Inizio Liq. Iva],
    PAY.Data_Fine_Liq_Iva  AS [Data Fine Liq. Iva],
    PAY.Mandato_Versamento_Iva AS [Mandato Versamento Iva],
    PAY.Data_Mandato_Versamento_Iva AS [Data Mandato Versamento Iva],
	NULL	AS	'Iban Pagamento',
	NULL	AS	'Codice BIC/SWIFT',
	NULL	AS	'Prestazione',
	NULL	AS	'Data Inizio Prest.',
	NULL	AS	'Data Fine Prest.'
FROM incomeview E
LEFT JOIN IVA_by_inc IVA
  ON IVA.idinc = E.idinc
LEFT JOIN IVAPAY_by_inc PAY
  ON PAY.idinc = E.idinc 
  	WHERE E.idupb = @idupb 
		AND E.nphase = (@EnphaseMax)
		AND E.curramount > 0
ORDER BY E.transmissiondate


END
