/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

if exists (select * from dbo.sysobjects where id = object_id(N'[exp_flussoincassidetail_anno_incongruente]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [exp_flussoincassidetail_anno_incongruente]
GO
--setuser 'amministrazione'
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

-- exec [exp_flussoincassidetail_anno_incongruente] 2024
CREATE PROCEDURE [exp_flussoincassidetail_anno_incongruente]
(
	@ayear int 
)
AS 
BEGIN
-- Questa stored procedure mostra i  dettagli flusso incassi di anno incongruenti rispetto all'anno della data creazione flusso 
-- 
-- Viene anche mostrato il sospeso, con il suo importo di apertura e importo da coprire, perchè lo stesso non 
-- si riesce a chiudere a causa dell'anomalia degli importi dei crediti ricevuti dal servizio studenti
-- che rendono impossibile l'elaborazione degli incassi

	SELECT FI.idflusso as  'Numero Flusso Incasso'
	, FI.ayear as 'Anno F.Incasso'
	, Fi.iddetail 'Numero riga F. Incasso'
	, A.idflusso as  'Numero Flusso Credito'
	, A.anno as 'Anno F.Credito'
	, A.docdate as 'Data per Elaborazione'
	, FI.Iuv
	, Fi.importo 'Importo Incassato'
	, A.importo 'Importo Credito'
	, nbill 'Num. Sospeso'
	,iduniqueformcode 'Codice Bollettino'
	FROM Flussoincassidetailview FI 
	LEFT JOIN (SELECT iuv
					, idflusso
					, docdate 
					, year(docdate) anno 
					, SUM(importoversamento+isnull(tax,0)) importo 
					FROM Flussocreditidetailview 
					where stop is null and annulment is null 
					AND year(docdate) >= @ayear 
					group by iuv,year(docdate),idflusso,docdate ) A  ON A.iuv = FI.iuv
	WHERE FI.ayear < A.anno   --ISNULL(A.importo,-99) <> ISNULL(FI.importo,-999)
	and FI.ayear = @ayear
	
	order by  A.anno, A.idflusso
END

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

