/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

USE [Amministrazione_Test]
GO
/****** Object:  StoredProcedure [amministrazione].[getNextOffice]    Script Date: 03/11/2025 14:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [amministrazione].[getNextOffice]
(
	@idcustomuser varchar(50),
	@idflowchart varchar(50),
	@idmankind varchar(20),
	@yman smallint,
	@nman int
) AS
BEGIN
-- [Demo].[getNextOffice] null, null, 'RdA Consumo',2022,5


declare @oldstatus int
select @oldstatus = idmandatestatus from mandate where idmankind=@idmankind and yman=@yman and nman=@nman 
print '@oldstatus ' + convert(varchar(9),@oldstatus)

declare @code_office_origine varchar(50)
select @code_office_origine =(select code from office where idoffice = (select idoffice from mandate where idmankind=@idmankind and yman=@yman and nman=@nman) )
print '@code_office_origine ' + @code_office_origine

declare @importo_ordine decimal(19,2)
select @importo_ordine = total from mandateview where idmankind=@idmankind and yman=@yman and nman=@nman 

declare @idman_richiesta int
select @idman_richiesta = idman from mandate where idmankind=@idmankind and yman=@yman and nman=@nman 


declare @newstatus int
set @newstatus =  @oldstatus
if (@oldstatus =1) set @newstatus = 2
if (@oldstatus =3) set @newstatus = 1
if (@oldstatus =2) set @newstatus = 1
-- Se @oldstatus non è 1, 2 o 3, @newstatus null return 
if ( @oldstatus not in (1,2,3)  ) 
Begin
	return
End


/* output:
 Una o più righe così formate:
 idoffice					int					id dell'ufficio a cui inoltrare la pratica
 oggetto_mail_ricevente		varchar(max)		oggetto mail a ufficio ricevente
 testo_mail_ricevente		varchar(max)		testo mail a ufficio ricevente
 email_ricevente			varchar(max)		email ufficio ricevente
 oggetto_mail_richiededente	varchar(max)		oggetto mail a richiededente
 testo_mail_richiededente	varchar(max)		testo mail a richiededente
 email_richiedente			varchar(max)		email richiededente
 skip_default				char(1)				se passato come S, fa si che il programma non invii le consuete mail che di solito invia
 new_idmandatestatus		int					id nuovo stato in cui si troverà la pratica (da tabella mandatestatus)

 Se la SP (getNextOffice) restituisce una sola riga, la scelta si intende obbligata e non è presentata all’operatore. 
 Altrimenti, in generale, è presentato all’operatore l’elenco delle opzioni restituito dalla SP, e in base alla sua scelta, 
	la pratica cambia di stato ed è inoltrata all’ufficio collegato a quella scelta, e sono inviate le mail indicate dalla SP per quella scelta.
  Inoltre è richiamata una sp notifyStatusChange con la chiave del documento per agevolare UniCT nell’espletamento di eventuali attività correlate.
*/



--declare @dati_ordine varchar(max)
--declare @dati_ordine_testo varchar(max)
declare @email_ricevente varchar(max)
declare @email_richiedente varchar(max)

declare @Bozza						int	= 1
declare @Richiesta					int	= 2
declare @Da_correggere				int = 3 
declare @Inserito					int	= 4
declare @Approvato					int	= 5
declare @Annullato					int	= 6

declare @officecode varchar(50)
SET @officecode = isnull((select code from office where idoffice = (select distinct idoffice from mandate where idmankind=@idmankind and yman=@yman and nman=@nman )),'Richiedente')
print '@officecode ' + @officecode


/*
-- RUP
-- CF RUP da contratto passivo
declare @cf_RUP varchar(16) 
set @cf_RUP = isnull((select CF from registry where idreg = (select idreg_rupanac from mandate where idmankind=@idmankind and yman=@yman and nman=@nman )),'Richiedente')
print '@cf_RUP ' + @cf_RUP




declare @email_RUP varchar(200)
--set @email_RUP  = isnull((select top 1 email from easyweb.dbo.virtualuser where codicedipartimento = 'amministrazione' and cf =@cf_RUP),'your-email@example.com')
set @email_RUP  = 'your-email@example.com'
print '@email_RUP ' + @email_RUP

--Utente corrente
declare @cf_Utente_Corrente varchar(16) 
set @cf_Utente_Corrente = COALESCE(
									(select CF from webreport_test.dbo.virtualuser where codicedipartimento = 'amministrazione' and sys_user = @idcustomuser and userkind = 5), -- Autenticazione SSO
									(select CF from webreport_test.dbo.virtualuser where codicedipartimento = 'amministrazione' and sys_user = @idcustomuser and userkind = 4), -- Autenticazione LDAP
									(select CF from webreport_test.dbo.virtualuser where codicedipartimento = 'amministrazione' and sys_user = @idcustomuser and userkind = 3), -- Autenticazione EASY
									'999999999'
								)
print '@cf_Utente_Corrente ' + @cf_Utente_Corrente

*/
/*
--  CODICE ORGANIGRAMMA
declare @CodiceOrganigramma varchar(50)
SET @CodiceOrganigramma = (select isnull(codeflowchart,'Richiedente') from flowchart where idflowchart = @idflowchart)
print '@CodiceOrganigramma ' + @CodiceOrganigramma

-- Leggo l'email del proponente dalla tabelle virtualuser di webreport
-- per leggere da webreport amministrazione deve essere public e dbowner di webreport

*/

declare @cu varchar(64) 
SET @cu = (SELECT CASE 
					WHEN (charindex('{',cu)) > 0  THEN SUBSTRING(cu, 0, charindex('{',cu)) 
					ELSE Cu
				  END 
			FROM mandate  
			WHERE idmankind = @idmankind AND nman = @nman AND yman = @yman
			)
print '@cu ' + @cu


-- Email di chi ha materialmente inserito la richiesta
declare @email_proponente varchar(200) -- Il proponente è colui che sta inserendo materialmente la richiesta
SET @email_proponente =  COALESCE(
									(select email from webreport_test.dbo.virtualuser where codicedipartimento = 'amministrazione' and username = @cu and userkind = 5), -- Autenticazione SSO
									(select email from webreport_test.dbo.virtualuser where codicedipartimento = 'amministrazione' and username = @cu and userkind = 4), -- Autenticazione LDAP
									(select email from webreport_test.dbo.virtualuser where codicedipartimento = 'amministrazione' and username = @cu and userkind = 3), -- Autenticazione EASY
									'your-email@example.com'
								)
print '@email_proponente ' + @email_proponente

-- Email del responsabile indicato sulla richiesta 
declare @email_responsabile varchar(200)
SET @email_responsabile = isnull((select email from manager where idman = (select idman from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)),'your-email@example.com')
print '@email_responsabile ' + @email_responsabile


if (@email_proponente = @email_responsabile) 
begin SET @email_proponente = @email_responsabile end
else  SET @email_proponente = @email_proponente + ' , ' + @email_responsabile
print '@email_proponente ' + @email_proponente


-- Descrizione della richiesta
declare @description_mandate varchar(150) 
SET @description_mandate = ( select description from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)

declare @dati_ordine varchar(400)
SET @dati_ordine = (select '"' +
description + '" ' + convert(varchar(4),@yman)+'/'+ convert(varchar(4),@nman) + ' con descrizione "'+ @description_mandate + '"'
from mandatekind where idmankind = @idmankind )

-- Testo della correzione richiesta (il valore di note del richiedente)
declare @testo_correzione_richiesta varchar(400)
SET @testo_correzione_richiesta = ((select  ' Correzione richiesta: ' + isnull(applierannotations,'Chi ha chiesto la correzione non ha riportato indicazioni nel campo Note del richiedente')  from mandate where idmankind = @idmankind  and yman =@yman and nman = @nman ))
print '@testo_correzione_richiesta ' + @testo_correzione_richiesta


declare @idsor01 int 
SET @idsor01 = ( select idsor01 from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)
print '@idsor01 ' + convert(varchar(9),@idsor01)



declare @idoffice_corrente int	
SET @idoffice_corrente = ( select isnull(idoffice,'0' ) from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)
print '@idoffice_corrente ' + convert(varchar(9),@idoffice_corrente)



declare @email_idoffice_corrente varchar(200)
SET @email_idoffice_corrente = (select top 1 isnull(email,'your-email@example.com') from office where idoffice = @idoffice_corrente)
print '@email_idoffice_corrente ' + @email_idoffice_corrente

-- Se l'Ufficio attuale è diverso dal mio organigramma non posso fare nulla
-- a meno che l'ufficio attuale non sia nullo o Richiedente, perché allora potrei essere quello che ha inserito la richiesta
-- in quel caso devo poter operare


--  RICHIEDENTE
if (	@idmankind in (select distinct idmankind from workflow_richieste_ordine)
		AND
		--(isnull(@code_office_origine,'Richiedente') <>  @CodiceOrganigramma) 
		((isnull(@code_office_origine,'Richiedente') not in	(SELECT sortcode 
																FROM sorting s
																JOIN flowchartsorting f ON s.idsor = f.idsor
																JOIN sortingkind k on k.idsorkind = s.idsorkind 
																WHERE f.idflowchart = @idflowchart
																AND k.codesorkind = 'UfficiRDA') 
		 )
		)
		AND
		(isnull(@code_office_origine,'Richiedente') <> 'Richiedente') 
		AND 
		(isnull(@code_office_origine,'Richiedente') <> 'RUP')
		AND 
		(isnull(@code_office_origine,'Richiedente') <> 'Titolare')
	)
	
BEGIN 
 print 'Sono nella sezione del Richiedente'	
 select (select distinct idoffice from mandate where idmankind=@idmankind and yman=@yman and nman=@nman) as idoffice,  --non cambia l'idoffice
		null as oggetto_mail_ricevente,
		null as testo_mail_ricevente,
		null as email_ricevente,
		null as oggetto_mail_richiedente,
		null as testo_mail_richiedente,
		null as email_richiedente,
		'N'  as skip_default,
		@oldstatus as new_idmandatestatus  -- non cambia lo stato
END

ELSE 
-- ALTRI UFFICI (No RICHIEDENTE , No RUP, No Direttore/Dirigente)
IF (
		@idmankind in (select distinct idmankind from workflow_richieste_ordine) 
		AND
		(isnull(@code_office_origine,'Richiedente') <> 'RUP')
		AND
				((isnull(@code_office_origine,'Richiedente') not in	(SELECT sortcode 
																FROM sorting s
																JOIN flowchartsorting f ON s.idsor = f.idsor
																JOIN sortingkind k on k.idsorkind = s.idsorkind 
																WHERE f.idflowchart = @idflowchart
																AND k.codesorkind = 'UfficiRDA') 
		 )
		)

	)
BEGIN
print 'Sono nella sezione degli uffici diversi dal RUP'	
SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente))																	as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',isnull((select top 1 email from office o where o.code = code_office_origine), @email_proponente))	as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		isnull(@code_office_origine,'Richiedente') = code_office_origine
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = @officecode
		ORDER BY new_idmandatestatus
END

/*
/* INIZIO GESTIONE RUP --------------------------------------------------------- */
-- RUP
ELSE
IF (	@idmankind in (select distinct idmankind from workflow_richieste_ordine)
		AND
		--(isnull(@code_office_origine,'Richiedente') <>  @CodiceOrganigramma) 
		((isnull(@code_office_origine,'Richiedente') not in	(SELECT sortcode 
																FROM sorting s
																JOIN flowchartsorting f ON s.idsor = f.idsor
																JOIN sortingkind k on k.idsorkind = s.idsorkind 
																WHERE f.idflowchart = @idflowchart
																AND k.codesorkind = 'UfficiRDA') 
		 )
		)
		AND
		(isnull(@code_office_origine,'Richiedente') = 'RUP') 
		AND isnull(@cf_RUP, '00000000000') = @cf_Utente_Corrente
	)


BEGIN
print 'Sono nella sezione dei RUP'	
SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente))																	as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',isnull((select top 1 email from office o where o.code = code_office_origine), @email_proponente))	as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = 'RUP'
		ORDER BY new_idmandatestatus
END

/* FINE GESTIONE RUP --------------------------------------------------------- */
*/



/* INIZIO GESTIONE TITOLARE DEI FONDI --------------------------------------- */

	-- L'idman deve diventare obbligatorio altrimenti questo ufficio non può essere identificato.
	-- L'operatività dell'utente che impersona questo ruolo deve essere condizionata al ricoscimento come responsabile dei fondi della richiesta di acquisto.
	-- Per Catania occorre controllare che lo username collegato all'idcustomuser (tabella virtualuser di easyweb associazione sys_user(utente di Easy) <=> username) 
	-- sia presente nel campo userweb del manager con idman presente sulla richiesta di acquisto.

ELSE 
-- UFFICIO Titolare dei Fondi
IF (
		@idmankind IN (
			SELECT DISTINCT idmankind
			FROM workflow_richieste_ordine
			)
		AND (isnull(@code_office_origine, 'Richiedente') = 'TitolareFondi')
		-- Aggiungere condizione per l'identificazione del Responsabile 
		AND (
			@idman_richiesta = (
				(
					SELECT idman
					FROM manager m
					JOIN webreport.dbo.virtualuser v ON v.username = m.userweb
					WHERE v.sys_user = @idcustomuser
					)
				)
			)
		)


BEGIN

declare @manager varchar(100)
set @manager = 
(SELECT TOP 1 title
FROM manager m
JOIN webreport.dbo.virtualuser v ON v.username = m.userweb
WHERE v.sys_user = @idcustomuser)

print 'Sono nella sezione dei Titolari dei Fondi '	+ @manager
SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente))																	as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',isnull((select top 1 email from office o where o.code = code_office_origine), @email_proponente))	as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		isnull(@code_office_origine,'Richiedente') = code_office_origine
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = @officecode
		ORDER BY new_idmandatestatus
END



/* FINE   GESTIONE TITOLARE DEI FONDI --------------------------------------- */


/* INIZIO GESTIONE UFFICIO ACQUISTI */



ELSE 
-- UFFICIO Acquisti
IF (
		@idmankind in (select distinct idmankind from workflow_richieste_ordine) 
		AND
		(isnull(@code_office_origine,'Richiedente') in (select code from office ))
		AND
		(isnull(@code_office_origine,'Richiedente') like 'UfficioAcq%')
	)

BEGIN

-- declare @direttore varchar(100)
-- set @direttore = (select top 1 Title_Manager from [dir_authagency_view] d join codeofficeauthagency c on d.idauthagency = c.idauthagency where anno = year(getdate()) and  Title_Manager is not null)
print 'Sono nella sezione Ufficio Acquisti '--	+ @direttore
SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente))																	as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',@email_proponente)																							as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		isnull(@code_office_origine,'Richiedente') = code_office_origine
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = @officecode
		ORDER BY new_idmandatestatus
END




/* FINE GESTIONE UFFICIO ACQUISTI */



/* INIZIO GESTIONE COORDINATORE  */



ELSE 
-- Coordinatore
IF (
		@idmankind in (select distinct idmankind from workflow_richieste_ordine) 
		AND
		(isnull(@code_office_origine,'Richiedente') in (select code from office ))
		AND
		(isnull(@code_office_origine,'Richiedente') like 'Coor%')
	)

BEGIN

-- declare @direttore varchar(100)
-- set @direttore = (select top 1 Title_Manager from [dir_authagency_view] d join codeofficeauthagency c on d.idauthagency = c.idauthagency where anno = year(getdate()) and  Title_Manager is not null)
print 'Sono nella sezione Coordinatore '--	+ @direttore
SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente))																	as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',@email_proponente)																							as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		isnull(@code_office_origine,'Richiedente') = code_office_origine
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = @officecode
		ORDER BY new_idmandatestatus
END




/* FINE GESTIONE COORDINATORE */





/* INIZIO GESTIONE DIRETTORE/DIRIGENTE --------------------------------------- */

/*
Se il responsabile del fondo è anche il Direttore allora non è necessario che autorizzi 2 volte la richiesta di ordine
Pertanto se l'utente che è entrato risulta sia come responsabile della richiesta sia come Direttore
*/


ELSE 
-- UFFICIO Direttore/Dirigente  -- A differenza degli altri uffici può inserire il RUP ma lo controlliamo con una regola
IF (
		@idmankind in (select distinct idmankind from workflow_richieste_ordine) 
		AND
		(isnull(@code_office_origine,'Richiedente') in (select code from office ))
		AND
		(isnull(@code_office_origine,'Richiedente') like 'Dir%')
	)

BEGIN

-- declare @direttore varchar(100)
-- set @direttore = (select top 1 Title_Manager from [dir_authagency_view] d join codeofficeauthagency c on d.idauthagency = c.idauthagency where anno = year(getdate()) and  Title_Manager is not null)
print 'Sono nella sezione dei Direttori/Dirigenti '--	+ @direttore
SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente))																	as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,''))																			as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')													as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',@email_proponente)																							as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		isnull(@code_office_origine,'Richiedente') = code_office_origine
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = @officecode
		ORDER BY new_idmandatestatus
END


/* FINE   GESTIONE DIRETTORE/DIRIGENTE --------------------------------------- */



-- RICHIESTE DI ORDINE NO WORKFLOW
ELSE  -- Siamo di fronte ad una richiesta di ordine normale e quindi devo solo far fare l'avanzamento di stato

BEGIN
 print 'Sono nella sezione delle Richieste di Ordine normali'	
 select null as idoffice,
		null as oggetto_mail_ricevente,
		null as testo_mail_ricevente,
		null as email_ricevente,
		null as oggetto_mail_richiedente,
		null as testo_mail_richiedente,
		null as email_richiedente,
		'N'  as skip_default,
		@newstatus as new_idmandatestatus
END



END

