/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

--USE [ICSC_Easy]
--setuser'amministrazione'
--getNextOffice_su_ICSC_Easy_03112025
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[getNextOffice]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [getNextOffice]
GO

CREATE PROCEDURE [getNextOffice]
(
	@idcustomuser varchar(50),
	@idflowchart varchar(50),
	@idmankind varchar(20),
	@yman smallint,
	@nman int
) AS
BEGIN
-- [amministrazione].[getNextOffice] null, null, 'RdA Consumo',2022,5

declare @oldstatus int
select @oldstatus = idmandatestatus from mandate where idmankind=@idmankind and yman=@yman and nman=@nman 

declare @code_office_origine varchar(50)
select @code_office_origine =(select code from office where idoffice = (select idoffice from mandate where idmankind=@idmankind and yman=@yman and nman=@nman) )

declare @importo_ordine decimal(19,2)
select @importo_ordine = total from mandateview where idmankind=@idmankind and yman=@yman and nman=@nman 


declare @newstatus int
set @newstatus =  @oldstatus
if (@oldstatus =1) set @newstatus = 2
if (@oldstatus =3) set @newstatus = 1
if (@oldstatus =2) set @newstatus = 1
-- Se @oldstatus non è 1, 2 o 3, @newstatus null return 
if ( @oldstatus not in (1,2,3)  ) 
Begin
	return
End


/* output:
 Una o più righe così formate:
 idoffice					int					id dell'ufficio a cui inoltrare la pratica
 oggetto_mail_ricevente		varchar(max)		oggetto mail a ufficio ricevente
 testo_mail_ricevente		varchar(max)		testo mail a ufficio ricevente
 email_ricevente			varchar(max)		email ufficio ricevente
 oggetto_mail_richiededente	varchar(max)		oggetto mail a richiededente
 testo_mail_richiededente	varchar(max)		testo mail a richiededente
 email_richiedente			varchar(max)		email richiededente
 skip_default				char(1)				se passato come S, fa si che il programma non invii le consuete mail che di solito invia
 new_idmandatestatus		int					id nuovo stato in cui si troverà la pratica (da tabella mandatestatus)

 Se la SP (getNextOffice) restituisce una sola riga, la scelta si intende obbligata e non è presentata all’operatore. 
 Altrimenti, in generale, è presentato all’operatore l’elenco delle opzioni restituito dalla SP, e in base alla sua scelta, 
	la pratica cambia di stato ed è inoltrata all’ufficio collegato a quella scelta, e sono inviate le mail indicate dalla SP per quella scelta.
  Inoltre è richiamata una sp notifyStatusChange con la chiave del documento per agevolare UniCT nell’espletamento di eventuali attività correlate.
*/

--declare @dati_ordine varchar(max)
--declare @dati_ordine_testo varchar(max)
declare @email_ricevente varchar(max)
declare @email_richiedente varchar(max)

declare @Bozza						int	= 1
declare @Richiesta					int	= 2
declare @Da_correggere				int = 3 
declare @Inserito					int	= 4
declare @Approvato					int	= 5
declare @Annullato					int	= 6

declare @officecode varchar(50)
SET @officecode = isnull((select code from office where idoffice = (select distinct idoffice from mandate where idmankind=@idmankind and yman=@yman and nman=@nman )),'Richiedente')

declare @CodiceOrganigramma varchar(50)
SET @CodiceOrganigramma = (select isnull(codeflowchart,'Richiedente') from flowchart where idflowchart = @idflowchart)

-- Leggo l'email del proponente dalla tabelle virtualuser di webreport
-- per leggere da webreport amministrazione deve essere public e dbowner di webreport

declare @cu varchar(64) 
SET @cu = (SELECT CASE 
					WHEN (charindex('{',cu)) > 0  THEN SUBSTRING(cu, 0, charindex('{',cu)) 
					ELSE Cu
				  END 
			FROM mandate  
			WHERE idmankind = @idmankind AND nman = @nman AND yman = @yman
			)

-- Email di chi ha materialmente 
declare @email_proponente varchar(400) -- Il proponente è colui che sta inserendo materialmente la richiesta
SET @email_proponente = 'your-email@example.com; your-email@example.com;' +  COALESCE(
									(select email from webreport_icsc.dbo.virtualuser where codicedipartimento = 'amministrazione' and username = @cu and userkind = 5), -- Autenticazione SSO
									(select email from webreport_icsc.dbo.virtualuser where codicedipartimento = 'amministrazione' and username = @cu and userkind = 4), -- Autenticazione LDAP
									(select email from webreport_icsc.dbo.virtualuser where codicedipartimento = 'amministrazione' and username = @cu and userkind = 3), -- Autenticazione EASY
									'your-email@example.com'
								)

-- Email del responsabile indicato sulla richiesta 
declare @email_responsabile varchar(200)
SET @email_responsabile = isnull((select email from manager where idman = (select idman from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)),'your-email@example.com')

if (@email_proponente = @email_responsabile) 
begin SET @email_proponente = @email_responsabile end
else  SET @email_proponente = @email_proponente + ' , ' + @email_responsabile



-- Descrizione della richiesta
declare @description_mandate varchar(150) 
SET @description_mandate = ( select description from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)

declare @dati_ordine varchar(400)
SET @dati_ordine = (select '"' +
description + '" ' + convert(varchar(4),@yman)+'/'+ convert(varchar(4),@nman) + ' con descrizione "'+ @description_mandate + '"'
from mandatekind where idmankind = @idmankind )

-- Testo della correzione richiesta (il valore di note del richiedente)
declare @testo_correzione_richiesta varchar(400)
SET @testo_correzione_richiesta = ((select  ' Correzione richiesta: ' + isnull(applierannotations,'Chi ha chiesto la correzione non ha riportato indicazioni nel campo Note del richiedente')  from mandate where idmankind = @idmankind  and yman =@yman and nman = @nman ))

declare @idsor01 int 
SET @idsor01 = ( select idsor01 from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)

declare @idoffice_corrente int	
SET @idoffice_corrente = ( select isnull(idoffice,'0' ) from mandate where idmankind=@idmankind and yman=@yman and nman=@nman)

declare @email_idoffice_corrente varchar(200)
SET @email_idoffice_corrente = (select top 1 isnull(email,'your-email@example.com') from office where idoffice = @idoffice_corrente)


-- Se l'Ufficio attuale è diverso dal mio organigramma non posso fare nulla
-- a meno che l'ufficio attuale non sia nullo o Richiedente, perché allora potrei essere quello che ha inserito la richiesta
-- in quel caso devo poter operare
if (	@idmankind in (select distinct idmankind from workflow_richieste_ordine)
		AND
		(isnull(@code_office_origine,'Richiedente') <>  @CodiceOrganigramma) 
		AND
		(isnull(@code_office_origine,'Richiedente') <> 'Richiedente') 
	)
	
BEGIN 

 select (select distinct idoffice from mandate where idmankind=@idmankind and yman=@yman and nman=@nman) as idoffice,  --non cambia l'idoffice
		null as oggetto_mail_ricevente,
		null as testo_mail_ricevente,
		null as email_ricevente,
		null as oggetto_mail_richiedente,
		null as testo_mail_richiedente,
		null as email_richiedente,
		'N'  as skip_default,
		@oldstatus as new_idmandatestatus  -- non cambia lo stato
END

ELSE 
IF (
		@idmankind in (select distinct idmankind from workflow_richieste_ordine) 
	)
BEGIN

--[Demo].[getNextOffice] null, null, 'RdA Consumo',2022,5

SELECT t.idoffice,
		replace(oggetto_mail_ricevente,		'DATI_ORDINE',		isnull(@dati_ordine,'')) as oggetto_mail_ricevente,
replace(replace(testo_mail_ricevente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')	 as testo_mail_ricevente,
		replace(email_ricevente,			'EMAIL_RICEVENTE',	isnull(o.email, @email_proponente)) as email_ricevente,
		replace(oggetto_mail_richiedente,	'DATI_ORDINE',		isnull(@dati_ordine,'')) as oggetto_mail_richiedente,
replace(replace(testo_mail_richiedente,		'DATI_ORDINE_TESTO',isnull(@dati_ordine,'')),'CORREZIONE_RICHIESTA','')	 as testo_mail_richiedente,
		replace(email_richiedente,			'EMAIL_RICHIEDENTE',isnull((select top 1 email from office o where o.code = code_office_origine), @email_proponente))							as email_richiedente,
		skip_default,
		new_idmandatestatus--, limite_inferiore,limite_superiore  
		FROM workflow_richieste_ordine t
		LEFT OUTER JOIN office o on o.idoffice = t.idoffice
		WHERE	@idmankind = idmankind
		AND		@oldstatus = old_idmandatestatus
		AND		isnull(@code_office_origine,'Richiedente') = code_office_origine
		AND		@importo_ordine > limite_inferiore
		AND		@importo_ordine <= limite_superiore -- Deve essere minore uguale
		AND		code_office_origine = @officecode
		ORDER BY new_idmandatestatus
END
ELSE

BEGIN
 select null as idoffice,
		null as oggetto_mail_ricevente,
		null as testo_mail_ricevente,
		null as email_ricevente,
		null as oggetto_mail_richiedente,
		null as testo_mail_richiedente,
		null as email_richiedente,
		'N'  as skip_default,
		@newstatus as new_idmandatestatus
END






END

