/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[rebuild_currentfloatfund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [rebuild_currentfloatfund]
GO

CREATE   PROCEDURE [rebuild_currentfloatfund]
(
	@ayear int = NULL
)
AS BEGIN

DECLARE @startfloatfund decimal(19,2)
DECLARE @previsionkind char(1)
DECLARE @secprevisionkind char(1)

DECLARE @locked char(1)

DECLARE @maxexpensephase tinyint
SELECT  @maxexpensephase = MAX(nphase) FROM expensephase

DECLARE @maxincomephase tinyint
SELECT  @maxincomephase = MAX(nphase) FROM incomephase

DECLARE @value decimal(19,2)

PRINT 'begin'

DELETE FROM currentcashtotal
DECLARE @ycursor int
DECLARE fc INSENSITIVE CURSOR FOR
SELECT ayear FROM accountingyear
WHERE (@ayear is null or ayear = @ayear) -- estraiamo l'esercizio finanziario di ricalcolo se specificato dall'argomento (@ayear), oppure tutti gli esercizi (accountingyear.ayear)
FOR READ ONLY
OPEN fc

FETCH NEXT FROM fc INTO @ycursor
WHILE (@@FETCH_STATUS = 0)
BEGIN

	print 'ayear:'
	print @ycursor
		
	set @locked='N'
	SELECT @locked = locked from surplus where ayear = @ycursor
	SET @locked= ISNULL(@locked,'N')

	SELECT @startfloatfund = ISNULL(startfloatfund,0) 
	FROM surplus WHERE ayear = @ycursor 

	INSERT INTO currentcashtotal VALUES(@ycursor,ISNULL(@startfloatfund,0))
	print 'start found:'
	print @startfloatfund


		
	IF ((@locked='S') OR (SELECT COUNT(*) FROM fin WHERE ayear = @ycursor) = 0 )
	BEGIN
		UPDATE  currentcashtotal
			SET currentfloatfund =  (SELECT
				(ISNULL(startfloatfund,0) + 
				ISNULL(competencyproceeds,0) + 
				ISNULL(residualproceeds,0) - 
				ISNULL(competencypayments,0) - 
				ISNULL(residualpayments,0))
			FROM surplus WHERE ayear = @ycursor)
		WHERE ayear = @ycursor
	END
	ELSE
	BEGIN
	set @value= 0
	select  @value = SUM(i.curramount)
				FROM incometotal i 
				JOIN incomelast IL
					ON IL.idinc = i.idinc
				JOIN proceeds p
					ON p.kpro=IL.kpro
				JOIN proceedstransmission pt
					ON p.kproceedstransmission=pt.kproceedstransmission
				WHERE i.ayear = @ycursor

	UPDATE currentcashtotal	SET currentfloatfund =	currentfloatfund +	ISNULL(@value,0)
									WHERE ayear = @ycursor
	print 'income found:'
	print @value
	
	set @value= 0
	select  @value = SUM(i.curramount)
			FROM expenselast EL
			JOIN expensetotal i		ON EL.idexp = i.idexp
			WHERE i.ayear = @ycursor
			
	UPDATE currentcashtotal SET currentfloatfund = currentfloatfund - ISNULL(@value,0)	
						WHERE ayear = @ycursor

	print 'expense found:'
	print @value

	END

		
FETCH NEXT FROM fc INTO @ycursor
END
DEALLOCATE fc


END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO
