/*
Easy
Copyright (C) 2026 Università degli Studi di Catania (www.unict.it)
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

--setuser setuser 'amministrazione'
-- CREAZIONE PROCEDURE [rpt_cert_diploma_supplement]
IF EXISTS (select * from sysobjects where id = object_id(N'[rpt_cert_diploma_supplement]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	DROP PROCEDURE [rpt_cert_diploma_supplement]
GO

--exec rpt_cert_diploma_supplement 1964, 492, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 299, 3749, 1, '26/01/2026', 'it'
--go
 
CREATE PROCEDURE [rpt_cert_diploma_supplement]
	@idreg         				int,
	@idiscrizione				int,
	@nprotocollo				int,
	@date						varchar(20),
	@lang						char(2)
	AS
	BEGIN

	declare @data date

	SELECT @data = CONVERT(DATE, @date, 103);

	SELECT
		r.surname
		,r.forename
		,CONVERT(datetime, r.birthdate)		AS birthdate
		,i.matricola
		,(select top 1 idisced2013
			from isced2013
			where detailedfield like '%music%')
											AS idisced
		,(select top 1 detailedfield
			from isced2013
			where detailedfield like '%music%')
											AS detailedisced	-- tabella idisced2013 > staffagrteaching vuota,
																-- questo isced penso andrebbe valorizzato in istitutoprinc
																-- per ora mettiamo like '%music%' cablato...
		,c.title							AS corso
		,ck.title							AS qualifica
		,cl.title							AS livello
		,c.crediti
		,c.durata
		,CASE  WHEN @lang <> 'it' then isnull(d.modaccesso_en,'') 
			   else isnull(d.modaccesso,'')
		 END   AS requisiti
		,CASE 
			WHEN ia.annopt IS NOT NULL THEN 'Part-Time'
			WHEN @lang <> 'it' THEN 'Full-Time'
			ELSE 'Tempo pieno'
		END									AS studiohours
		,
		(SELECT TOP (1)
			CASE 
			WHEN ok.title = 'lezione individuale' AND @lang <> 'it' THEN 'Individual lessons'
			WHEN ok.title = 'lezione individuale' THEN 'Lezioni individuali'
			WHEN ok.title = 'lezione collettiva'  AND @lang <> 'it' THEN 'Group lessons'
			WHEN ok.title = 'lezione collettiva'  THEN 'Lezioni collettive'
			END AS tipo_lezione
		FROM attivform af
		JOIN attivformcaratteristicaora afco
			ON af.iddidprog = afco.iddidprog
		JOIN orakind ok
			ON ok.idorakind = afco.idorakind
		WHERE af.iddidprog     = i.iddidprog
		  AND af.idcorsostudio = i.idcorsostudio
			GROUP BY ok.title
			ORDER BY COUNT(*) DESC ) AS studiolessons -- tie-break a parità							
		,case
			when @lang = 'it' then ek.title
			when @lang <> 'it' then ek.title_en
			else ek.title
		end									AS erogazione
		,d.ciclo							AS ciclo
		,eqf.level							AS livelloeqf
		,isnull(
			isnull(c.obbform, cs.obbform),
			'')								AS risultati_apprendimento  
		,(select top 1 csk.title
			from corsostudiokind csk inner join corsostudio cs on csk.idcorsostudiokind = cs.idcorsostudiokind
			where cs.idcorsostudio in
				(select idcorsostudio from didprog subd where iddidprog in
					(select iddidprog_acc from didprogaccesso subda where subd.iddidprog = d.iddidprog)))
											AS accesso
		,c.basevoto
		,CONVERT(int, c.basevoto * 0.6)		AS minvoto
		,s.voto								AS votofinale
		,s.votolode							AS votofinalelode
		,s.votosu							AS votofinalesu
		,s.data								AS votofinaledata

	--select idsostenimento, s.*, *
	FROM
		registry r
		inner JOIN iscrizione i on i.idreg = r.idreg and i.idiscrizione = @idiscrizione
		inner JOIN iscrizioneanno ia on ia.idiscrizione = i.idiscrizione and ia.idreg = i.idreg
		inner JOIN corsostudio c on c.idcorsostudio = i.idcorsostudio
		inner JOIN corsostudiokind ck on ck.idcorsostudiokind = c.idcorsostudiokind
		inner JOIN corsostudiolivello cl on cl.idcorsostudiolivello = c.idcorsostudiolivello
		left JOIN corsostudioclassescuola ccs on ccs.idcorsostudio = c.idcorsostudio
		left JOIN classescuola cs on cs.idclassescuola = ccs.idclassescuola
		left JOIN classescuolakind csk on csk.idclassescuolakind = cs.idclassescuolakind
		left JOIN eqf on eqf.ideqf = csk.ideqf
		inner JOIN didprog d on d.iddidprog = i.iddidprog
		inner JOIN erogazkind ek on ek.iderogazkind = d.iderogazkind
		left JOIN sostenimento s ON s.idreg = r.idreg and s.idiscrizione = i.idiscrizione
	WHERE (r.idreg = @idreg OR @idreg is null)
		and	(i.idiscrizione = @idiscrizione OR @idiscrizione is null)
		and ia.anno = 1						-- usiamo le caratteristiche dell'iscrizione al primo anno... questo abbiamo
		and s.idsostenimentoesito = 1		-- esito positivo
		and s.votosu = 110 --- per filtrare solo l'esame di conseguimento del titolo

	--exec rpt_cert_diploma_supplement 705, 4187, 1, '26/01/2026', 'it'

END
--exec rpt_cert_diploma_supplement 705, 4187, 1, '26/01/2026', 'it'
--GO
--exec rpt_cert_diploma_supplement 1964, 492, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 299, 3749, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 3373, 3828, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 835, 3839, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 2296, 4203, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 261, 3752, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 435, 199, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 2026, 459, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 1472, 4989, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 1129, 4960, 1, '26/01/2026', 'it'
--go
--exec rpt_cert_diploma_supplement 2587, 5556, 1, '26/01/2026', 'it'
