<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="csa_contractexpense_elenco.Properties.Settings.Rettorato_OkConnectionString"
            connectionString="Data Source=WIN12-DATABASE,1434;Initial Catalog=Rettorato_Ok;User ID=assistenza;Password=afrodite"
            providerName="System.Data.SqlClient" />
        <add name="csa_contract_partition_elenco.Properties.Settings.Rettorato_OkConnectionString"
            connectionString="Data Source=WIN12-DATABASE,1434;Initial Catalog=Rettorato_Ok;User ID=assistenza;Password=insert a strong password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>