<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="payment_generazioneautomatica.Properties.Settings.Rettorato_OkConnectionString"
            connectionString="Data Source=10.10.0.107,1434;Initial Catalog=Rettorato_Ok;User ID=amm;Password=**********"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>