<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  
  <!-- Per UniUPO: Name="https://easyweb.uniupo.it" LocalCertificateFile="saml\cert.pfx" LocalCertificatePassword="uniupo" -->
  <!-- Per UniRoma2: Name="http://160.80.6.102/EasyWeb" -->
  <ServiceProvider Name="http://160.80.6.102/EasyWeb"
                   Description="SAML Service Provider per EasyWeb"
                   AssertionConsumerServiceUrl="~/saml/consumer.aspx"/>

  <PartnerIdentityProviders>

    <PartnerIdentityProvider Name="https://idemidp.unipmn.it/simplesaml/saml2/idp/metadata.php"
                             Description="IDEM IdP Università degli Studi del Piemonte Orientale"
                             SignAuthnRequest="true"
                             WantSAMLResponseSigned="false"
                             WantAssertionSigned="true"
                             WantAssertionEncrypted="false"
                             UseEmbeddedCertificate="true"
                             SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                             SingleSignOnServiceUrl="https://idemidp.unipmn.it/simplesaml/saml2/idp/SSOService.php"
                             SingleLogoutServiceUrl="https://idemidp.unipmn.it/simplesaml/saml2/idp/SingleLogoutService.php"/>

    <PartnerIdentityProvider Name="https://idem.uniroma2.eu/idp/shibboleth"
                             Description="IDEM IdP Università degli Studi di Roma 'Tor Vergata'"
                             SignAuthnRequest="true"
                             WantSAMLResponseSigned="false"
                             WantAssertionSigned="true"
                             WantAssertionEncrypted="false"
                             UseEmbeddedCertificate="true"
                             SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                             SingleSignOnServiceUrl="https://idem.uniroma2.eu/idp/profile/SAML2/POST/SSO"/>

  </PartnerIdentityProviders>
  
</SAMLConfiguration>
