<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Attenzione l'elenco dei parametri per l'accesso al database è posizionale e separato da ; -->
    <!-- Di seguito la formattazione della stringa                                                 -->
    <!-- DSN; HostName; DbName; DbUser; DbPass;                                                    -->
    <add key="DSN1" value="descrizione;nome server;nome db;nome utente dipartimento;password utente dipartimento"/>
    <add key="DSN2" value="DSNDescription;HostName;DbName;DbUser;DBPass"/>
  </appSettings>
</configuration>