<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="metaeasylibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <metaeasylibrary.Properties.Settings>
            <setting name="metaeasylibrary_helpDeskService_doHelpDesk" serializeAs="String">
                <value>http://ticket.temposrl.it/helpdeskservice/doHelpDesk.asmx</value>
            </setting>
        </metaeasylibrary.Properties.Settings>
    </applicationSettings>
</configuration>