<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="paymethod_anagrafica.Properties.Settings.DATABASEConnectionString"
            connectionString="Data Source=WIN12-DATABASE,1434;Initial Catalog=DATABASE;User ID=assistenza;Password=PASSWORD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>