<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AnagrafePrestazioniBinding" />
                <binding name="anp2018Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.perlapa.gov.it/AnagrafePrestazioni/1" binding="basicHttpBinding" bindingConfiguration="AnagrafePrestazioniBinding" contract="service.AnagrafePrestazioni" name="AnagrafePrestazioniInterfaceEndpoint" />
            <endpoint address="http://servizi.perlapa.gov.it/wsanp2018/ws/anp2018.asmx" binding="basicHttpBinding" bindingConfiguration="anp2018Soap" contract="ServicePerla.anp2018Soap" name="anp2018Soap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>